<div class="folding gutter no-select">
	<div
		ng-repeat="sectionGroup in folding.sectionGroups"
		ng-class="{'mdi-content-remove-circle-outline': !sectionGroup.isFolded, 'mdi-content-add-circle': sectionGroup.isFolded}"
		ng-show="!sectionGroup.isParentFolded && (sectionGroup.foldButton.over || sectionGroup.foldButton.forceShow || sectionGroup.isFolded)"
		ng-mouseover="sectionGroup.foldButton.over = true"
		ng-mouseleave="sectionGroup.foldButton.over = false"
		ng-click="fold(sectionGroup)"
		ng-dblclick="foldAll(sectionGroup)"
		style="top: {{sectionGroup.foldButton.top}}">
	</div>

</div>
