<md-dialog class="handlebars helpers dialog">
    <md-dialog-content>
        <h2>Handlebars helpers</h2>
        <pre class="prism"></pre>
        <div class="tip">
            <b>Tip:</b> Here you can define Handlebars helpers:
            <pre class="example" ng-non-bindable>
Handlebars.registerHelper(...)</pre>
        </div>
        <md-button class="md-primary" target="_blank" ng-href="http://handlebarsjs.com/block_helpers.html">
            Handlebars documentation...
        </md-button>
    </md-dialog-content>
    <div class="md-actions">
        <md-button ng-click="cancel()" class="md-primary">
            Cancel
        </md-button>
        <md-button ng-click="ok()" class="md-primary">
            Ok
        </md-button>
    </div>
</md-dialog>
