@import 'variables';

.setting.page.panel {
  .logo {
    background-image: url('assets/images/logo.png');
    background-repeat: no-repeat;
    background-size: 150px 50px;
    height: 54px;
    width: 150px;
  }
  & > * {
    height: 100%;
    margin: auto;
    max-width: 560px;
    padding: 5px 5px 0;
  }
  .plastic-4 {
    border-radius: 3px;
    padding: 0 15px 15px;
  }
  .nav {
    & > * {
      color: #fff;
      margin: 0;
    }
    md-input-container {
      width: 100%;
    }
    .md-button {
      font-size: 26px;
      line-height: 0;
    }
  }
  md-tabs {
    background-color: rgba(255, 255, 255, .25);
    border-radius: 4px;
  }
  .title {
    font-size: 32px;
    font-weight: 300;
    margin: 5px 0;
  }
  .exit.btn {
    font-size: 30px;
    padding: 4px;
  }
  .tab {
    margin: 40px 20px 80px;
  }
  .small {
    max-width: 220px;
  }
  .large {
    max-width: 340px;
  }
  .full-width {
    width: 100%;
  }
  .colors {
    input {
      background-color: transparent;
      margin: 0 5px 30px;
    }
  }
  md-select,
  md-slider {
    max-width: 250px;
  }
  md-select {
    margin-top: 0;
  }
  .menu {
    padding: 0 5px;
    .md-button {
      color: rgba(0, 0, 0, .75);
      padding: 10px;
    }
    .icon {
      font-size: 23px;
      line-height: 16px;
    }
  }
  .label {
    color: rgba(0, 0, 0, .54);
    display: block;
    font-size: 12.5px;
    padding: 2px;
  }
  md-tabs {
    & md-tabs-content-wrapper,
    &:not(.md-no-tab-content) {
      min-height: 0;
    }
  }
  .renew-api-key-btn {
    font-size: 22px;
  }
  .md-chips {
    box-shadow: none;
    padding-bottom: 15px;
  }
  .file-entry {
    line-height: 40px;
    md-input-container {
      margin: 0;
      .md-input {
        font-size: 18px;
        font-weight: 300;
        &[disabled] {
          color: $text-color;
        }
      }
      .md-errors-spacer {
        display: none;
      }
    }
    .md-button {
      color: rgba(0, 0, 0, .7);
      font-size: 28px;
      padding: 6px 3px;
    }
  }
  md-progress-circular {
    left: 50%;
    margin-left: -25px;
    position: relative;
    top: 40px;
  }
}

.edit.blog.dialog {
  min-width: 340px;
  md-input-container {
    padding-bottom: 8px;
  }
}

.handlebars.helpers.dialog {
  min-width: 360px;
  pre.prism {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .12);
    min-height: 120px;
    overflow: auto;
    width: 100%;
    word-wrap: normal;
  }
  pre.example {
    padding-left: 50px;
  }
}
