<md-dialog class="tour-dialog">
  <md-dialog-content>
    <h2>Classeur 1.0 is out!</h2>
    <p>Here are some good news:</p>
    <ul>
      <li>
        Realtime collaboration is now free!
      </li>
      <li>
        Share public classeurs
      </li>
      <li>
        New <a target="_blank" href="http://classeur.io/help/rest-api/">REST API</a> with read+write access
      </li>
    </ul>
    <p>Click <b>Start</b> to take a tour.</p>
  </md-dialog-content>
  <div class="md-actions">
    <md-button ng-click="close()" class="md-primary">
      Skip
    </md-button>
    <md-button ng-click="start()" class="md-primary">
      Start
    </md-button>
  </div>
</md-dialog>
