<div class="stat panel postit no-overflow md-whiteframe-z2">
	<cl-button class="close-stat btn" opacity="0.2" opacity-hover="0.3" size="30">
		<a class="mdi-content-clear" ng-click="layout.toggleStat(false)" title="Close stats" aria-label="Close stats"></a>
	</cl-button>

	<div class="markdown">
		<div class="name">
			Markdown<br>
			<small ng-show="isMarkdownSelection">(selection)</small>
		</div>
		<div ng-repeat="stat in markdownStats">
			<span class="value">{{stat.value}}</span> {{stat.name}}
		</div>
	</div>
	<div class="html">
		<div class="name">
			HTML<br>
			<small ng-show="isHtmlSelection">(selection)</small>
		</div>
		<div ng-repeat="stat in htmlStats">
			<span class="value">{{stat.value}}</span> {{stat.name}}
		</div>
	</div>
</div>
