.user-mgt.page.panel {
    & > div {
        margin: auto;
        width: 100%;
        height: 100%;
        max-width: 580px;
        overflow: auto;
    }
    .title {
        font-size: 32px;
        font-weight: 300;
        margin: 5px 0;
    }
    .entry {
        margin-bottom: 5px;
        .md-button {
            font-size: 22px;
        }
        .text {
            width: 260px;
            margin: 0 5px;
            padding: 8px 4px;
            &.full-width {
                width: 100%;
            }
        }
        label {
            text-align: center;
            width: 90px;
            min-width: 90px;
        }
    }
}
