.user-mgt.page.panel {
    overflow: auto;
    & > div {
        margin: auto;
        width: 100%;
        max-width: 580px;
    }
    .title {
        font-size: 32px;
        font-weight: 300;
        margin: 5px 0;
    }
    .filter {
        max-width: 200px;
    }
    .entry {
        margin-bottom: 15px;
        background-color: #fff;
        padding: 5px 5px 0;
        & > div {
            padding-bottom: 10px;
        }
        .md-button {
            font-size: 22px;
        }
        .text {
            margin: 0 5px;
            &.name {
                font-weight: 500;
                font-size: 1.1em;
            }
            &.id {
                color: rgba(0,0,0,0.4);
            }
        }
        .md-button {
            margin-right: 5px;
            &.icon-delete {
                font-size: 28px;
            }
        }
        img {
            width: 48px;
            height: 48px;
        }
        label {
            text-align: center;
            margin: 0 5px;
        }
    }
}
