<pre ced cl-scroll-sync-editor class="editor" ng-focus="layout.toggleMenu(false)" ng-class="layout.zoomClass">
# Headings

You can create a heading by adding one or more `#` symbols before your heading text.

# The largest heading
## The second largest heading
###### The 6th largest heading


# Blockquotes

You can indicate blockquotes with a `>`.

> Blockquote


# Styling text

You can make text **bold** or *italic*. Both bold and italic can use either a `*` or an `_` around the text for styling.

*This text will be italic*
__This text will be bold__


# Unordered lists

You can make an unordered list by preceding list items with either a `*` or a `-`.

- Item
- Item
* Item


# Ordered lists

You can make an ordered list by preceding list items with a number.

1. Item 1
2. Item 2
3. Item 3</pre>
