<div class="blog entry" layout="row">
    <div class="blog icon" ng-class="platform.id"></div>
    <md-input-container>
        <input class="name" ng-model="blog.name" disabled="disabled" aria-label="Blog name">
    </md-input-container>
    <div class="status" ng-class="{error: blog.status !== 'linked'}">
    <span>{{blog.status | clBlogStatus}}</span>
    </div>
    <md-button class="icon-settings" ng-click="editBlog(blog)" aria-label="Blog settings">
    </md-button>
    <md-button class="icon-delete" ng-click="deleteBlog(blog)" aria-label="Delete blog">
    </md-button>
</div>
