<div class="blog-entry" layout="row">
  <div class="blog-icon" ng-class="'blog-icon--' + platform.id"></div>
  <md-input-container>
    <input class="blog-entry__name" ng-model="blog.name" disabled="disabled" aria-label="Blog name">
  </md-input-container>
  <div class="blog-entry__status" ng-class="{'blog-entry__status--error': blog.status !== 'linked'}">
    <span class="blog-entry__status-text">{{blog.status | clBlogStatus}}</span>
  </div>
  <md-button class="blog-entry__button md-primary icon-settings" ng-click="editBlog(blog)" aria-label="Blog settings">
  </md-button>
  <md-button class="blog-entry__button md-primary icon-delete" ng-click="deleteBlog(blog)" aria-label="Delete blog">
  </md-button>
</div>
