.explorer.background {

	.explorer.container {
		left: 50%;
		min-height: 100%;
	}

	.explorer.content {
		border-radius: 3px;
	}

	.header {
		height: 75px;
	}

	.links {
		font-size: 13px;
		text-align: right;
		.md-button {
			padding: 4px;
		}
	}

	.folder.scroller {
		overflow-x: hidden;
		overflow-y: auto;
		right: -40px;
		top: 8px;
	}

	.folder.container {
		margin-bottom: 100px;
		&.no-padding .folder.content {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	.folder.content {
		padding: 30px 40px 150px;
		border-radius: 6px;
		background-color: transparentize(#fff, 0.75);
	}

	.folder.name {
		font-size: 30px;
	}

	.delete.folder.btn {
		font-size: 32px;
		a {
			color: #fff;
		}
	}

	.file.actions {
		min-height: 105px;
	}

	$file-entry-height: 40px;
	.file.entry {
		line-height: $file-entry-height;
		.drag {
			padding-left: 2px;
			padding-right: 2px;
			cursor: move;
			height: $file-entry-height;
			span {
				color: transparentize(#000, 0.75);
				font-size: 26px;
				display: inline-block;
				overflow: hidden;
				width: 10px;
				line-height: $file-entry-height;
			}
		}
		md-checkbox {
			margin: 0 10px;
			.md-label {
				display: none;
			}
		}
		md-input-container {
			padding-bottom: 8px;
		}
		.edit.file.btn {
			width: 45px;
			height: $file-entry-height;
			font-size: 28px;
			a {
				line-height: $file-entry-height;
			}
		}
	}

	.hole.panel {
		left: 22px;
		width: 20px;
		height: 20px;
		&.first {
			top: 22%;
		}
		&.second {
			bottom: 22%;
		}
	}

	.btn-grp.panel {
		top: 8px;
		width: 2050px;
		right: -2050px;
		.container.panel {
			top: 129px;
			overflow: auto;
		}
		.shadow.panel {
			z-index: 9999;
			left: -2050px;
		}

		.recent.btn, .folder.btn {
			height: 130px;
			width: 44px;
			box-shadow: 3px 4px 9px -5px rgba(0, 0, 0, 0.2);
			button {
				line-height: 34px;
				width: 100%;
				height: 100%;
				font-size: 20px;
				color: transparentize(#fff, 0.2);
				&:hover {
					color: #fff;
				}
				.rotate-90 {
					position: absolute;
					width: 130px;
					left: -28px;
					height: 0;
				}
			}
		}

		.recent.btn {
			border-top-right-radius: 12px;
			border-bottom-right-radius: 12px;
		}

		.folder.btn {
			height: 110px;
			width: 32px;
			margin-bottom: 280px;
			border-top-right-radius: 10px;
			border-bottom-right-radius: 10px;
			.md-button {
				text-transform: none;
				font-size: 14px;
				.rotate-90 {
					position: absolute;
					width: 110px;
					left: -22px;
					height: 0;
				}
			}
			.mdi-content-add {
				padding: 0;
				font-size: 18px;
			}
		}

		.open.btn {
			button {
				color: #fff;
			}
		}
	}
}
