.explorer.background {
    .classeur.selector {
        padding: 8px 0 0;
        height: 100%;
        font-size: 38px;
        text-transform: none;
        letter-spacing: -0.04em;
        font-weight: 300;
        white-space: nowrap;
        cursor: pointer;
        line-height: 1.15;
        .logo {
            width: 48px;
            height: 64px;
            margin-right: 6px;
        }
        .toggle.icon {
            font-size: 30px;
            position: relative;
            height: 36px;
            padding: 0 6px;
            span {
                line-height: 38px;
            }
        }
    }
    .explorer.container {
        left: 50%;
        min-height: 100%;
    }
    .explorer.content {
        border-radius: 3px;
    }
    .header {
        height: 75px;
        position: relative;
        & > div {
            position: absolute;
            width: 100%;
            top: 0;
            &:first-child {
                height: 100%;
            }
        }
        .links {
            font-size: 13px;
            text-align: right;
            min-width: 190px;
            .md-button {
                padding: 4px;
            }
        }
        .user-info {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            background-color: #484848;
            color: #fff;
            padding: 0 12px;
            font-size: 14px;
            .username {
                padding: 6px;
                padding-right: 10px;
            }
        }
    }
    .folder.container {
        top: 2px;
        padding-bottom: 150px;
        .folder.btn {
            font-size: 32px;
            padding: 4px;
            a {
                color: #fff;
            }
            &.icon-publ {
                color: rgba(255, 255, 255, 0.3);
                margin-bottom: 8px;
            }
        }
        md-progress-circular {
            position: relative;
            top: 40px;
            left: 50%;
            margin-left: -25px;
        }
    }
    .md-subheader {
        margin: 0;
        padding: 0;
        &::after {
            display: none;
        }
        .md-subheader-inner {
            padding: 0;
            -webkit-animation: none;
            animation: none;
        }
    }
    .md-sticky-clone {
        margin-left: 0 !important;
        .file.actions > div {
            border-bottom: 1px solid rgba(128, 128, 128, 0.1);
        }
    }
    .folder.container,
    .md-sticky-clone {
        overflow-x: hidden;
        overflow-y: scroll;
        padding-left: 90px;
        padding-right: 65px;
    }
    .no-padding {
        .folder.container, .md-sticky-clone {
            padding-left: 57px;
            padding-right: 32px;
        }
        .folder.container {
            .folder.content, .file.actions {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        .md-sticky-clone {
            .file.actions {
                padding: 0 10px;
            }
        }
    }
    .folder.container,
    .file.entry {
        .btn a {
            &::after {
                color: #fff;
                position: absolute;
                top: 0px;
                right: 1px;
                font-family: $font-family;
                font-size: 12px;
                font-weight: bold;
                line-height: 1.1;
                border-radius: 8px;
                padding: 0 4px;
            }
            &.read::after {
                content: 'r';
                background-color: #2164D3;
            }
            &.read-write::after {
                content: 'rw';
                background-color: #D33800;
            }
        }
    }
    .new-file.actions {
        padding-top: 10px;
    }
    .file.actions {
        & > div {
            height: 95px;
            padding: 20px 5px 0;
        }
        .page.btns {
            font-size: 26px;
            .md-button {
                padding: 4px;
                &[disabled] {
                    color: rgba(0, 0, 0, 0.15);
                }
            }
        }
        padding: 0 35px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        background-color: rgba(255, 255, 255, 0.2);
    }
    .folder.content {
        padding: 0 40px 110px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        background-color: rgba(255, 255, 255, 0.2);
    }
    .folder.name {
        font-size: 30px;
    }
    .new-file.actions button {
        color: #fff;
    }
    $file-entry-height: 40px;
    .file.entry {
        line-height: $file-entry-height;
        .drag-space {
            width: 12px;
        }
        .drag {
            padding-left: 2px;
            padding-right: 2px;
            cursor: move;
            height: $file-entry-height;
            span {
                color: transparentize(#000, 0.5);
                font-size: 28px;
                display: inline-block;
                overflow: hidden;
                width: 12px;
                line-height: $file-entry-height;
            }
        }
        md-checkbox {
            margin: 0 10px;
            .md-label {
                display: none;
            }
        }
        md-input-container {
            padding-bottom: 8px;
            cursor: pointer;
            .md-input {
                line-height: 1;
                &[disabled] {
                    color: rgba(0, 0, 0, 0.87);
                    cursor: pointer;
                    background-image: none;
                    border-bottom-color: rgba(0, 0, 0, 0.08);
                }
            }
        }
        .edit.filename.btn,
        .share.file.btn {
            width: 32px;
            height: $file-entry-height;
            font-size: 28px;
            a {
                line-height: $file-entry-height;
            }
        }
        .icon-publ {
            padding: 6px 4px;
            font-size: 22px;
            color: rgba(0, 0, 0, 0.6);
            cursor: pointer;
        }
        &.public {
            padding-left: 16px;
        }
    }
    .hole.panel {
        left: 22px;
        width: 20px;
        height: 20px;
        &.first {
            top: 22%;
        }
        &.second {
            bottom: 22%;
        }
    }
    .btn-grp.panel {
        top: 8px;
        width: 2050px;
        right: -2050px;
        .container.panel {
            overflow: auto;
        }
        .shadow.panel {
            z-index: 9999;
            left: -2050px;
            box-shadow: 0px 0px 28px 0 rgba(0, 0, 0, 0.38);
        }
        .folder.btn {
            box-shadow: 3px 4px 9px -5px rgba(0, 0, 0, 0.22);
            height: 110px;
            width: 32px;
            margin-bottom: 130px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            .md-button {
                text-transform: none;
                line-height: 34px;
                width: 100%;
                height: 100%;
                font-size: 14px;
                color: transparentize(#fff, 0.2);
                &:hover {
                    color: #fff;
                }
                .rotate-90 {
                    position: absolute;
                    width: 100px;
                    left: -18px;
                    height: 0;
                }
            }
        }
        .recent.btn,
        .unclassified.btn,
        .create.btn {
            height: 44px;
            width: 44px;
            z-index: 9998;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            .md-button {
                font-size: 24px;
                padding: 0;
                span {
                    line-height: 44px;
                }
            }
        }
        .unclassified.btn {
            top: 43px;
        }
        .create.btn {
            top: 86px;
        }
        .current.btn {
            display: none;
            top: 129px;
            z-index: 10000;
        }
        .open.btn,
        .current.btn {
            button {
                color: #fff;
            }
        }
        &.hidden-btn {
            .current.btn {
                display: block;
            }
            .selected.btn {
                visibility: hidden;
            }
        }
    }
    .menu.panel {
        padding: 0 5px 0 25px;
        bottom: 0;
        height: auto;
        border-top: 1px solid rgba(128, 128, 128, 0.2);
        & > div {
            float: right;
            padding-left: 25px;
        }
        .md-button {
            padding: 8px;
        }
    }
    .classeur.list {
        .scroller {
            overflow: auto;
            overflow-y: scroll;
            padding: 0 50px 200px 0;
            right: -50px;
        }
        .tile.content::before,
        .tab-1,
        .tab-2 {
            content: '';
            width: 10px;
            right: -10px;
            position: absolute;
            top: 6px;
            height: 40px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
        .tab-1 {
            top: 45px;
            z-index: -1;
        }
        .tab-2 {
            top: 84px;
            z-index: -2;
        }
        .tile.container {
            width: 33%;
            height: 220px;
            margin: 15px 0;
            float: left;
            position: relative;
            @media screen and (max-width: 720px) {
                width: 50%;
            }
            @media screen and (max-width: 480px) {
                width: auto;
                float: none;
            }
        }
        .tile.content {
            width: 84%;
            left: 8%;
            top: 0;
            border-radius: 2px;
            cursor: pointer;
            .name {
                padding: 2px;
                border-radius: 3px;
                background-color: rgba(255, 255, 255, 0.2);
                margin: 25px 10px 15px;
                font-size: 18px;
                textarea {
                    text-align: center;
                    &:disabled {
                        cursor: pointer;
                        color: rgba(0, 0, 0, 0.87);
                    }
                }
                md-input-container {
                    padding-bottom: 2px;
                }
            }
            &::before {
                background-color: inherit;
                width: 12px;
                right: -12px;
            }
            .info {
                text-align: center;
                font-size: 12px;
                line-height: 16px;
                color: rgba(0, 0, 0, 0.35);
            }
        }
        .footer.panel {
            bottom: 0;
            height: 42px;
            font-size: 24px;
            background-color: rgba(255, 255, 255, 0.2);
            text-align: center;
            cursor: auto;
            .btn {
                height: 42px;
                width: 36px;
                a {
                    line-height: 42px;
                }
            }
        }
    }
}

.new.dialog {
    min-width: 320px;
    .or {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        color: #bbb;
        margin: 0;
        span {
            font-weight: 300;
        }
    }
    md-input-container:last-child {
        padding-bottom: 0;
    }
    .panel {
        position: relative;
        overflow: hidden;
        height: 70px;
        &.link {
            height: 0;
        }
    }
}
