<div class="tile content panel md-whiteframe-z1" ng-class="'plastic-' + (($index) % 6)" ng-click="open()">
    <div class="tab-1" ng-class="'plastic-' + (($index + 1) % 6)"></div>
    <div class="tab-2" ng-class="'plastic-' + (($index + 2) % 6)"></div>
    <div class="name">
        <md-input-container>
            <textarea ng-model="classeur.name" ng-blur="setEditing(false)" ng-disabled="!isEditing" aria-label="Classeur name"></textarea>
        </md-input-container>
    </div>
    <div class="info" ng-switch="classeur.folders.length > 1">
        <div ng-show="classeur.isDefault"><b>default</b></div>
        <div ng-switch-when="true">{{classeur.folders.length}} folders</div>
        <div ng-switch-when="false">{{classeur.folders.length}} folder</div>
    </div>
    <div class="footer panel" layout="row" layout-align="center">
        <cl-button class="btn" active="isEditing">
            <a class="angular-animate bounce icon-mode-edit" ng-click="setEditing(true)" aria-label="Edit name" ng-if="classeur.isDefault || !isEditing"></a>
            <a class="angular-animate bounce icon-delete" ng-click="deleteClasseur(classeur)" aria-label="Delete classeur" ng-if="!classeur.isDefault && isEditing"></a>
        </cl-button>
    </div>
</div>
