<div class="tile content panel md-whiteframe-z1" ng-class="'plastic-' + (($index) % 4)" ng-click="open()">
    <div class="tab-1" ng-class="'plastic-' + (($index + 1) % 4)"></div>
    <div class="tab-2" ng-class="'plastic-' + (($index + 2) % 4)"></div>
    <div class="name">
        <md-input-container>
            <textarea ng-model="classeur.name" ng-blur="setEditing(false)" ng-disabled="!isEditing"></textarea>
        </md-input-container>
    </div>
    <div class="info" ng-switch="classeur.folders.length > 1">
        <div ng-show="classeur.isDefault">default</div>
        <div ng-switch-when="true">{{classeur.folders.length}} folders</div>
        <div ng-switch-when="false">{{classeur.folders.length}} folder</div>
    </div>
    <div class="footer panel" layout="row" layout-align="center">
        <cl-button ng-if="!classeur.isDefault" class="btn">
            <a class="mdi-action-delete" ng-click="deleteClasseur(classeur)" aria-label="Delete classeur" title="Delete classeur"></a>
        </cl-button>
        <cl-button class="btn" active="isEditing">
            <a class="mdi-editor-mode-edit" ng-click="setEditing(true)" aria-label="Edit name" title="Edit name"></a>
        </cl-button>
    </div>
</div>
