@import 'bourbon';
@import 'variables';

.explorer {
  .md-menu {
    padding: 0;
  }
}

.navbar__inner--no-padding .navbar__logo {
  display: none;
}

.classeur-toggler__inner::before {
  font-size: 24px;
}

.explorer__inner-1 {
  left: 50%;
}

.explorer__inner-2 {
  padding-top: 33px;
}

.explorer__inner-2--no-padding {
  .folder-view {
    padding-left: 10px;
    padding-right: 60px;
  }

  .file-list,
  .file-actions__grp-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.classeur-list__scroller {
  overflow: auto;
  overflow-y: scroll;
  padding: 10px 30px 100px 0;
  right: -30px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.folder-view {
  overflow-x: hidden;
  overflow-y: scroll;
  padding-left: 40px;
  padding-right: 90px;
  top: 2px;

  &::-webkit-scrollbar {
    display: none;
  }

  md-progress-circular {
    left: 50%;
    margin-left: -25px;
    position: relative;
    top: 40px;
  }
}

.folder-view--main::after {
  content: '';
  display: block;
  height: 120px;
}

.folder-view--clone {
  position: absolute;
  z-index: 1;

  .file-actions__inner {
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    padding: 15px 0 0;
  }
}

.folder-view--hidden {
  display: none;
}

.file-actions__grp-1 {
  font-size: 17px;
  min-height: 35px;
}

.file-actions__search {
  min-width: 0;

  @media screen and (max-width: 320px) {
    display: none;
  }

  md-input-container {
    margin: 0;
  }

  md-icon {
    color: rgba(255, 255, 255, .45);
    font-size: 26px;
  }

  input {
    // scss-lint:disable ImportantRule
    border-color: transparent !important;
    font-size: 20px;

    @include placeholder {
      color: rgba(255, 255, 255, .45);
    }
  }
}

.file-actions__new-file {
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, .067);
}

.file-actions__grp-2 {
  background-color: rgba(255, 255, 255, .2);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0 35px;
}

.file-actions__inner {
  padding: 15px 0 0;
}

.file-actions__sort-by {
  .rotate-270 {
    display: inline-block;
  }

  @media screen and (max-width: 320px) {
    display: none;
  }
}

.file-list {
  background-color: rgba(255, 255, 255, .2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 10px 40px 60px;
}

.file-list__extra {
  color: rgba(0, 0, 0, .33);
  font-size: 15px;
  margin: 30px 0 10px;
}

.folder-list {
  right: -2050px;
  width: 2050px;
}

.folder-list__show-current {
  .folder-entry--current {
    display: block;
  }

  .folder-entry--selected .folder-entry__button {
    display: none;
  }
}

.folder-list__scroller {
  overflow: auto;
}

.folder-list__shadow {
  box-shadow: 0 0 28px 0 rgba(0, 0, 0, .4);
  left: -2050px;
  z-index: 9999;
}

$public-corner-size: 64px;
$public-file-corner-size: 34px;
$public-folder-corner-size: 32px;
$public-classeur-corner-size: 54px;
$public-navbar-corner-size: 46px;

.cl-public-corner {
  border-right: $public-corner-size solid transparent;
  border-top: $public-corner-size solid rgba(128, 128, 128, .2);
  color: rgba(64, 64, 64, .2);
  font-size: 30px;
  height: $public-corner-size;
  left: 0;
  position: absolute;
  top: 0;
  width: $public-corner-size;

  .icon-publ {
    left: 0;
    padding: 4px;
    position: absolute;
    text-shadow: none;
    top: -$public-corner-size;
  }

  .file-entry & {
    border-right-width: $public-file-corner-size;
    border-top-width: $public-file-corner-size;
    font-size: 18px;
    height: $public-file-corner-size;
    width: $public-file-corner-size;

    .icon-publ {
      padding: 1px;
      top: -$public-file-corner-size;
    }
  }

  .folder-entry__inner-1 & {
    border-right-width: $public-folder-corner-size;
    border-top-width: $public-folder-corner-size;
    font-size: 17px;
    height: $public-folder-corner-size;
    width: $public-folder-corner-size;

    .icon-publ {
      padding: 1px;
      top: -$public-folder-corner-size;
    }
  }

  .classeur-entry & {
    border-right-width: $public-classeur-corner-size;
    border-top-width: $public-classeur-corner-size;
    font-size: 30px;
    height: $public-classeur-corner-size;
    width: $public-classeur-corner-size;

    .icon-publ {
      padding: 1px;
      top: -$public-classeur-corner-size;
    }
  }

  .navbar__item & {
    border-right-width: $public-navbar-corner-size;
    border-top-width: $public-navbar-corner-size;
    font-size: 25px;
    height: $public-navbar-corner-size;
    width: $public-navbar-corner-size;

    .icon-publ {
      padding: 1px;
      top: -$public-navbar-corner-size;
    }
  }
}

.navbar__item--title-public {
  padding-left: 25px;
}

.cl-sharing-indicator {
  md-menu-item & {
    position: relative;

    &::after {
      margin-right: 2px;
      margin-top: -7px;
    }
  }

  &::after {
    border-radius: 8px;
    color: #fff;
    font-family: $font-family;
    font-size: 11px;
    font-weight: 500;
    line-height: 1.1;
    padding: 0 4px;
    position: absolute;
    right: 1px;
    top: 1px;

    .folder-entry__inner-1 & {
      font-size: 8px;
      padding: 0 3px;
      right: 2px;
      top: 2px;
    }
  }

  &.r::after {
    background-color: #2164d3;
    content: 'r';
    right: 7px;
  }

  &.rw::after {
    background-color: #d33800;
    content: 'rw';
  }
}

.creation-dialog {
  min-width: 320px;

  md-content {
    background-color: transparent;
  }

  .panel {
    height: 70px;
    overflow: hidden;
    position: relative;

    &.link {
      height: 0;
    }
  }
}

.creation-dialog__info {
  color: rgba(0, 0, 0, .67);
  font-size: 12px;
  line-height: 1;
  margin-top: -10px;
  padding-left: 30px;
}

md-tooltip .icon-arrow-back {
  display: inline-block;
}
