<div class="explorer background panel">
    <div class="explorer container panel">
        <div class="header" layout="column" layout-align="space-between">
            <div layout="row" layout-align="end start" ng-switch="!!userSvc.user">
                <div ng-switch-when="false">
                    <md-button ng-click="signin()">
                        Sign in with Google <span class="mdi-navigation-arrow-forward"></span>
                    </md-button>
                </div>
                <div ng-switch-when="true">
                    <span class="links">Hi {{userSvc.user.name}},</span>
                    </span>
                    <md-button>
                        Go premium <span class="mdi-navigation-arrow-forward"></span>
                    </md-button>
                </div>
            </div>
            <div layout="row" layout-align="space-between end">
                <div class="logo">
                    <img src="images/logo.png" height="64">
                </div>
                <div class="links" flex>
                    <md-button md-no-ink class="md-primary" ng-click="setDocFile('markdownCheatSheet')">
                        <span class="mdi-action-help"></span> Help
                    </md-button>
                    <md-button md-no-ink class="md-primary" ng-click="setDocFile('markdownCheatSheet')">
                        <span class="mdi-action-help"></span> Markdown Cheat Sheet
                    </md-button>
                </div>
            </div>
        </div>
        <div class="explorer content panel md-whiteframe-z2" ng-class="plasticClass">

            <div class="hole panel background first"></div>
            <div class="hole panel background second"></div>

            <div class="folder scroller panel">

                <div class="folder container" ng-switch="!!explorerLayoutSvc.currentFolderDao">

                    <div class="nav" layout="row" ng-switch-when="true" layout-align="center center">
                        <md-input-container md-theme="classeur" flex>
                            <input ng-model="explorerLayoutSvc.currentFolderDao.name" class="folder name" ng-disabled="explorerLayoutSvc.currentFolderDao === explorerLayoutSvc.unclassifiedFolder" ng-blur="folderNameModified()">
                        </md-input-container>

                        <md-button class="delete folder btn" md-no-ink ng-if="explorerLayoutSvc.currentFolderDao !== explorerLayoutSvc.unclassifiedFolder">
                            <a class="mdi-action-delete" ng-click="deleteConfirm(true)" title="Delete folder" aria-label="Delete folder"></a>
                        </md-button>
                    </div>

                    <div class="nav" layout="row" ng-switch-when="false" layout-align="center center">
                        <md-input-container md-theme="classeur" flex>
                            <input class="folder name" value="Available offline" disabled>
                        </md-input-container>

                    </div>

                    <div class="folder content">

                        <div class="file actions">
                            <div>
                                <md-button md-no-ink class="md-primary" ng-click="newFile()">
                                    <span class="mdi-content-add"></span> New file
                                </md-button>
                            </div>
                            <div ng-if="explorerLayoutSvc.files.length" ng-switch="hasSelection()">
                                <div ng-switch-when="false">
                                    <md-button md-no-ink class="md-primary" ng-click="selectAll()">
                                        <span class="mdi-navigation-check"></span> Select all
                                    </md-button>
                                </div>
                                <div ng-switch-when="true">
                                    <md-button md-no-ink class="md-primary" ng-click="selectNone()">
                                        <span class="mdi-toggle-check-box-outline-blank"></span> Select None
                                    </md-button>
                                </div>
                                <div ng-switch-when="true">
                                    <md-button md-no-ink class="md-primary" ng-click="deleteConfirm()">
                                        <span class="mdi-action-delete"></span> Delete
                                    </md-button>
                                </div>
                            </div>
                        </div>

                        <cl-file-entry cl-file-dragging-src ng-repeat="fileDao in explorerLayoutSvc.files"></cl-file-entry>

                    </div>

                </div>
            </div>

            <div class="btn-grp panel background no-overflow">
                <div class="container panel">
                    <div cl-folder-button cl-file-dragging-target class="folder btn btn-panel" ng-repeat="folderDao in explorerLayoutSvc.folders" ng-class="'plastic-' + (($index + 1) % 4)">
                        <md-button ng-click="setFolder(folderDao)" aria-label="{{folder.name}}">
                            <div class="rotate-90" ng-if="folderDao !== explorerLayoutSvc.createFolder">
                                {{folderDao.name}}
                            </div>
                            <div class="mdi-content-add" ng-if="folderDao === explorerLayoutSvc.createFolder"></div>
                        </md-button>
                    </div>
                </div>
                <div cl-folder-button class="recent btn btn-panel plastic" ng-class="{open: !explorerLayoutSvc.currentFolderDao}">
                    <md-button ng-click="setFolder()" aria-label="Recent">
                        <div class="rotate-90">Recent</div>
                    </md-button>
                </div>
                <div class="shadow panel md-whiteframe-z2"></div>
            </div>
        </div>
    </div>

    <cl-file-dragging></cl-file-dragging>

    <cl-footer></cl-footer>
</div>
