@import 'bourbon';
@import 'variables';

.explorer {
  .md-menu {
    padding: 0;
  }
}

.navbar__inner--no-padding {
  .navbar__logo,
  .navbar__item--user-name,
  .navbar__item--go-premium {
    display: none;
  }
}

.classeur-toggler__inner::before {
  font-size: 24px;
}

.explorer__inner-1 {
  left: 50%;
}

.explorer__inner-2 {
  padding-top: 34px;
}

.explorer__inner-2--no-padding {
  .file-list,
  .file-actions__grp-2 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.explorer-binder {
  .folder-view__corner {
    display: none;
  }
}

.explorer-binder--public {
  md-toolbar {
    padding-left: 20px;
  }

  .folder-view__corner {
    display: block;
  }
}

.explorer-binder__inner-1 {
  background-color: #fff;
  border-style: solid;

  @include border-width(2px 0 0 0);
}

.classeur-list__scroller {
  overflow: auto;
  overflow-y: scroll;
  padding: 10px 30px 100px 0;
  right: -30px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.folder-view {
  overflow-x: hidden;
  overflow-y: scroll;
  padding-right: 50px;

  &::-webkit-scrollbar {
    display: none;
  }

  md-progress-circular {
    left: 50%;
    margin-left: -25px;
    position: relative;
    top: 40px;
  }
}

.folder-view--main::after {
  content: '';
  display: block;
  height: 120px;
}

.folder-view--clone {
  position: absolute;
  z-index: 1;

  .file-actions__grp-2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
}

.folder-view--hidden {
  display: none;
}

.file-actions {
  background-color: #fff;
}

.file-actions__grp-1 {
  min-height: 35px;
  padding: 20px;
}

.file-actions__button {
  border-style: solid;
  border-width: 1px;
  font-size: 18px;
}

.file-actions__search {
  min-width: 0;

  @media screen and (max-width: 320px) {
    display: none;
  }

  md-input-container {
    margin: 0;
  }

  md-icon {
    font-size: 26px;
  }

  input {
    font-size: 20px;
  }
}

.file-actions__grp-2 {
  margin: 15px 45px 0;
}

.file-actions__sort-by {
  @media screen and (max-width: 320px) {
    display: none;
  }
}

.file-list {
  margin: 10px 50px 60px;
}

.file-list__extra {
  color: rgba(0, 0, 0, 0.33);
  font-size: 15px;
  margin: 30px 0 10px;
}

.folder-list {
  right: -2050px;
  width: 2050px;
}

.folder-list__show-current {
  .folder-entry--current {
    display: block;
  }

  .folder-entry--selected {
    left: -9999px;
  }
}

.folder-list__scroller {
  overflow: auto;
}

.folder-list__scroller-margin {
  height: 220px;
  position: absolute;
  width: 1px;
}

.folder-list__shadow {
  left: -50px;
  width: 50px;
  z-index: 9999;
}

$public-corner-size: 48px;
$public-file-corner-size: 32px;
$public-folder-corner-size: 30px;
$public-classeur-corner-size: 54px;
$public-navbar-corner-size: 46px;
$public-dialog-corner-size: 66px;

.cl-public-corner {
  border-right: $public-corner-size solid transparent;
  border-top: $public-corner-size solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.15);
  font-size: 28px;
  height: $public-corner-size;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: $public-corner-size;
  z-index: 10;

  .icon-publ {
    left: 0;
    padding: 1px;
    position: absolute;
    top: -$public-corner-size;
  }

  .file-entry & {
    border-right-width: $public-file-corner-size;
    border-top-width: $public-file-corner-size;
    font-size: 18px;
    height: $public-file-corner-size;
    width: $public-file-corner-size;

    .icon-publ {
      padding: 0;
      top: -$public-file-corner-size;
    }
  }

  .folder-entry & {
    border-left: $public-folder-corner-size solid transparent;
    border-right-width: 0;
    border-top-width: $public-folder-corner-size;
    font-size: 17px;
    height: $public-folder-corner-size;
    left: auto;
    right: 0;
    width: $public-folder-corner-size;

    .icon-publ {
      left: auto;
      padding: 0;
      right: 0;
      top: -$public-folder-corner-size;
    }
  }

  .classeur-entry & {
    border-right-width: $public-classeur-corner-size;
    border-top-width: $public-classeur-corner-size;
    font-size: 30px;
    height: $public-classeur-corner-size;
    width: $public-classeur-corner-size;
    z-index: 0;

    .icon-publ {
      padding: 1px;
      top: -$public-classeur-corner-size;
    }
  }

  .navbar__item & {
    border-right-width: $public-navbar-corner-size;
    border-top-width: $public-navbar-corner-size;
    font-size: 25px;
    height: $public-navbar-corner-size;
    width: $public-navbar-corner-size;

    .icon-publ {
      padding: 1px;
      top: -$public-navbar-corner-size;
    }
  }

  md-dialog-content & {
    border-right-width: $public-dialog-corner-size;
    border-top-width: $public-dialog-corner-size;
    font-size: 34px;
    height: $public-dialog-corner-size;
    width: $public-dialog-corner-size;

    .icon-publ {
      padding: 1px;
      top: -$public-dialog-corner-size;
    }
  }
}

.navbar__item--title-public {
  padding-left: 25px;
}

.cl-sharing-indicator {
  md-menu-item & {
    position: relative;

    &::after {
      margin-right: 2px;
      margin-top: -7px;
    }
  }

  &::after {
    border-radius: 8px;
    color: #fff;
    font-family: $font-family;
    font-size: 11px;
    font-weight: 500;
    line-height: 1.1;
    padding: 0 4px;
    pointer-events: none;
    position: absolute;
    right: 1px;
    top: 1px;

    .folder-entry & {
      font-size: 8px;
      line-height: normal;
      padding: 3px 0;
      right: 0;
      top: 2px;
    }
  }

  &.r::after {
    background-color: #2164d3;
    content: 'r';
    right: 7px;

    .folder-entry & {
      right: 0;
    }
  }

  &.rw::after {
    background-color: #d33800;
    content: 'rw';
  }
}

.creation-dialog {
  min-width: 320px;

  md-content {
    background-color: transparent;
  }

  .panel {
    height: 70px;
    overflow: hidden;
    position: relative;

    &.link {
      height: 0;
    }
  }
}

.creation-dialog__info {
  color: rgba(0, 0, 0, 0.67);
  font-size: 12px;
  line-height: 1;
  margin-top: -10px;
  padding-left: 30px;
}
