<div class="file entry" layout="row">
    <div class="drag"><span class="mdi-action-view-headline"></span>
    </div>
    <md-checkbox ng-model="fileDao.isSelected" aria-label="Select">
    </md-checkbox>
    <md-input-container flex ng-click="open()">
        <input class="name" ng-model="fileDao.name" ng-blur="setEditing(false)" ng-disabled="!isEditing">
    </md-input-container>
    <cl-button class="edit filename btn" opacity="0.5" opacity-hover="0.75" opacity-active="1" active="isEditing">
        <a class="mdi-editor-mode-edit" ng-click="setEditing(true)" aria-label="Edit filename" title="Edit filename"></a>
    </cl-button>
    <cl-button ng-if="socketSvc.hasToken && !fileDao.sharing" class="share file btn" opacity="0.5" opacity-hover="0.75" opacity-active="1" active="explorerLayoutSvc.sharingDialogFileDao === fileDao">
        <a class="mdi-social-share" ng-click="explorerLayoutSvc.sharingDialogFileDao = fileDao" aria-label="Share file" title="Share file"></a>
    </cl-button>
    <cl-button ng-if="socketSvc.hasToken && fileDao.sharing" class="share file btn" opacity="0.75" opacity-hover="1" opacity-active="1" active="explorerLayoutSvc.sharingDialogFileDao === fileDao">
        <a class="mdi-social-share" ng-class="fileDao.sharing === 'rw' ? 'red' : 'blue'" ng-click="explorerLayoutSvc.sharingDialogFileDao = fileDao" aria-label="Share file" title="Share file"></a>
    </cl-button>
</div>
