<div class="file entry" layout="row">
    <div class="drag-space">
        <div ng-if="!fileDao.userId" class="drag" cl-file-dragging-src><span class="icon-view-headline"></span>
        </div>
    </div>
    <md-checkbox md-no-ink ng-model="fileDao.isSelected" aria-label="Select">
    </md-checkbox>
    <div class="icon-publ" ng-show="fileDao.userId" ng-click="open()"></div>
    <md-input-container flex ng-click="open()">
        <input class="name" ng-model="fileDao.name" ng-blur="setEditing(false)" ng-disabled="!isEditing">
    </md-input-container>
    <cl-button ng-if="!fileDao.userId || fileDao.sharing === 'rw'" class="edit filename btn" active="isEditing">
        <a class="icon-mode-edit" ng-click="setEditing(true)" aria-label="Edit filename"></a>
    </cl-button>
    <cl-button ng-if="socketSvc.hasToken || fileDao.userId" class="share file btn" active="explorerLayoutSvc.sharingDialogFileDao === fileDao">
        <a class="icon-share" ng-class="{'read-write': fileDao.effectiveSharing === 'rw', read: fileDao.effectiveSharing === 'r'}" ng-click="explorerLayoutSvc.sharingDialogFileDao = fileDao" aria-label="Share file"></a>
    </cl-button>
</div>
