<div class="nav" layout="row" layout-align="center center">
    <div class="folder btn icon-publ" ng-show="explorerLayoutSvc.currentFolderDao.isPublic"></div>
    <md-input-container md-theme="classeur" flex>
        <input class="folder name" ng-model="name" ng-model-options="{updateOn: 'blur', getterSetter: true}" ng-disabled="!isEditing" ng-blur="setEditing(false)" aria-label="Folder name">
    </md-input-container>
    <div ng-if="explorerLayoutSvc.currentFolderDao !== explorerLayoutSvc.unclassifiedFolder" layout="row">
            <cl-button class="folder btn" ng-show="!explorerLayoutSvc.currentFolderDao.isPublic || explorerLayoutSvc.currentFolderDao.sharing === 'rw'" active="isEditing">
                <a class="angular-animate bounce icon-mode-edit" ng-click="setEditing(true)" aria-label="Edit folder name" ng-if="!isEditing"></a>
                <a class="angular-animate bounce icon-delete" ng-click="deleteConfirm(true)" aria-label="Delete folder" ng-if="isEditing"></a>
            </cl-button>
        <cl-button ng-if="socketSvc.hasToken" class="share folder btn" active="explorerLayoutSvc.sharingDialogFolderDao === explorerLayoutSvc.currentFolderDao">
            <a class="icon-share" ng-class="{'read-write': explorerLayoutSvc.currentFolderDao.effectiveSharing === 'rw', read: explorerLayoutSvc.currentFolderDao.effectiveSharing === 'r'}" ng-click="explorerLayoutSvc.sharingDialogFolderDao = explorerLayoutSvc.currentFolderDao" aria-label="Share folder"></a>
        </cl-button>
    </div>
</div>
