<div class="nav" layout="row" layout-align="center center">
    <div class="folder btn icon-publ" ng-show="explorerLayoutSvc.currentFolderDao.userId"></div>
    <md-input-container md-theme="classeur" flex>
        <input ng-model="explorerLayoutSvc.currentFolderDao.name" class="folder name" ng-disabled="!isEditing" ng-blur="setEditing(false)">
    </md-input-container>
    <div ng-if="explorerLayoutSvc.currentFolderDao !== explorerLayoutSvc.unclassifiedFolder" layout="row">
        <md-button ng-if="!explorerLayoutSvc.currentFolderDao.userId || explorerLayoutSvc.currentFolderDao.sharing === 'rw'" class="edit folder btn" md-no-ink>
            <a class="icon-mode-edit" ng-click="setEditing(true)" aria-label="Edit folder name"></a>
        </md-button>
        <md-button ng-if="socketSvc.hasToken" class="share folder btn" md-no-ink>
            <a class="icon-share" ng-class="{'read-write': explorerLayoutSvc.currentFolderDao.effectiveSharing === 'rw', read: explorerLayoutSvc.currentFolderDao.effectiveSharing === 'r'}" ng-click="explorerLayoutSvc.sharingDialogFolderDao = explorerLayoutSvc.currentFolderDao" aria-label="Share folder"></a>
        </md-button>
        <md-button class="delete folder btn" md-no-ink>
            <a class="icon-delete" ng-click="deleteConfirm(true)" aria-label="Delete folder"></a>
        </md-button>
    </div>
</div>
