<md-dialog class="creation-dialog creation-dialog--new-classeur">
  <md-dialog-content>
    <h2>New classeur</h2>
    <md-input-container>
      <label>Name</label>
      <input autocomplete="off" ng-model="value" cl-focus cl-enter-ok>
    </md-input-container>
    <md-checkbox ng-model="isPublic">
      Create a public classeur
    </md-checkbox>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="import()">
      Import...
    </md-button>
    <md-button ng-click="cancel()" class="md-primary">
      Cancel
    </md-button>
    <md-button ng-click="ok()" class="md-primary">
      Ok
    </md-button>
  </md-dialog-actions>
</md-dialog>
