<md-dialog class="new folder dialog">
    <md-dialog-content>
        <h2>New folder</h2>
        <md-input-container>
            <label>Name</label>
            <input ng-model="value" cl-focus cl-enter-ok>
        </md-input-container>
    </md-dialog-content>
    <div class="md-actions">
        <md-button ng-click="import()">
            Import...
        </md-button>
        <md-button ng-click="cancel()" class="md-primary">
            Cancel
        </md-button>
        <md-button ng-click="ok()" class="md-primary">
            Ok
        </md-button>
    </div>
</md-dialog>
