<md-dialog class="sharing dialog">
    <md-dialog-content>
        <h2>Sharing
        <span class="read indicator label" ng-show="objectDao.effectiveSharing === 'r'">read only</span>
        <span class="read-write indicator label" ng-show="objectDao.effectiveSharing === 'rw'">read/write</span>
        </h2>
        <p ng-if="folderDao.sharing.length > 0 && !objectDao.isReadOnly && !objectDao.userId" class="warning">Sharing preference is restricted via folder preference.</p>
        <md-radio-group ng-model="objectDao.effectiveSharing" ng-if="isFile && !objectDao.isReadOnly && !objectDao.userId">
            <md-radio-button value="" ng-disabled="folderDao.sharing.length > 0">private</md-radio-button>
            <div class="help">Only you can access the file.</div>
            <md-radio-button value="r" ng-disabled="folderDao.sharing.length > 1">public <span class="read label">read only</span></md-radio-button>
            <div class="help">Anyone with the link can read the file.</div>
            <md-radio-button value="rw">public <span class="read-write label">read/write</span></md-radio-button>
            <div class="help">Premium users with the link can modify the file.</div>
            <br>
        </md-radio-group>
        <md-radio-group ng-model="objectDao.effectiveSharing" ng-if="!isFile && !objectDao.isReadOnly && !objectDao.userId">
            <md-radio-button value="">private</md-radio-button>
            <div class="help">Only you can access the folder.</div>
            <md-radio-button value="r">public <span class="read label">read only</span></md-radio-button>
            <div class="help">Anyone with the link can read the folder and all its files.</div>
            <md-radio-button value="rw">public <span class="read-write label">read/write</span></md-radio-button>
            <div class="help">Premium users with the link can modify the folder and all its files.</div>
            <br>
        </md-radio-group>
        <md-input-container>
            <label>Share link</label>
            <input class="url" ng-model="sharingUrl">
        </md-input-container>
        <div layout="row" layout-align="end" class="btn-grp">
            <md-button class="md-fab md-mini icon-twitter" target="_blank" ng-href="http://twitter.com/share?url={{::encodedSharingUrl}}&text={{::encodedName}}&via=classeurapp" aria-label="Share on Twitter">
            </md-button>
            <md-button class="md-fab md-mini icon-facebook" target="_blank" ng-href="http://www.facebook.com/sharer/sharer.php?u={{::encodedSharingUrl}}" aria-label="Share on Facebook">
            </md-button>
            <md-button class="md-fab md-mini icon-google-plus" target="_blank" ng-href="https://plus.google.com/share?url={{::encodedSharingUrl}}" aria-label="Share on Google Plus">
            </md-button>
            <md-button class="md-fab md-mini icon-linkedin" target="_blank" ng-href="http://www.linkedin.com/shareArticle?url={{::encodedSharingUrl}}" aria-label="Share on LinkedIn">
            </md-button>
        </div>
    </md-dialog-content>
    <div class="md-actions">
        <div ng-if="folderDao" class="md-primary">
            <md-button ng-click="openFolder()">See folder</md-button>
        </div>
        <md-button ng-click="close()">
            Close
        </md-button>
    </div>
</md-dialog>
