.sharing.dialog {
    min-width: 360px;
    .md-input[disabled] {
        color: rgba(0, 0, 0, 0.87);
    }
    .btn-grp {
        a, button {
            margin-left: 4px;
            font-size: 18px;
            padding: 0;
        }
        .icon-facebook {
            background-color: #3b5998 !important;
        }
        .icon-linkedin {
            background-color: #007bb6 !important;
        }
        .icon-twitter {
            background-color: #00aced !important;
        }
        .icon-google-plus {
            background-color: #dd4b39 !important;
        }
    }
    .label {
        &.indicator {
            position: relative;
            font-size: 13px;
            padding: 0 6px;
            top: -15px;
            left: -5px;
        }
        font-size: 15px;
        color: #fff;
        font-weight: bold;
        line-height: 1.25;
        border-radius: 8px;
        padding: 0 8px;
        &.read {
            background-color: #2164D3;
        }
        &.read-write {
            background-color: #D33800;
        }
    }
    .help {
        color: rgba(0, 0, 0, 0.54);
        font-size: 12px;
        padding-left: 40px;
        margin-top: -10px;
        line-height: 1;
    }
}
