@import 'variables';

.sharing-dialog {
  min-width: 360px;
}

.sharing-dialog__label {
  border-radius: 8px;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.25;
  padding: 0 6px;
}

.sharing-dialog__label--indicator {
  left: -5px;
  position: relative;
  top: -15px;
}

.sharing-dialog__label--read {
  background-color: #2164d3;
}

.sharing-dialog__label--read-write {
  background-color: #d33800;
}

.sharing-dialog__info {
  color: rgba(0, 0, 0, 0.67);
  font-size: 12px;
  line-height: 1;
  margin-top: -10px;
  padding-left: 30px;
}

.sharing-dialog__share-button {
  font-size: 18px;
  margin-left: 4px;
  padding: 0;
}

.sharing-dialog__share-button--facebook {
  background-color: #3b5998 !important;
}

.sharing-dialog__share-button--linkedin {
  background-color: #007bb6 !important;
}

.sharing-dialog__share-button--twitter {
  background-color: #00aced !important;
}

.sharing-dialog__share-button--google-plus {
  background-color: #dd4b39 !important;
}
