<md-dialog class="sharing-dialog">
  <md-dialog-content>
    <h2>Sharing
      <span class="sharing-dialog__label sharing-dialog__label--indicator sharing-dialog__label--read" ng-show="objectDao.effectiveSharing === 'r'">read only</span>
      <span class="sharing-dialog__label sharing-dialog__label--indicator sharing-dialog__label--read-write" ng-show="objectDao.effectiveSharing === 'rw'">read/write</span>
    </h2>
    <p ng-if="folderDao.sharing.length > 0 && !objectDao.isReadOnly && !objectDao.userId" class="warning">Sharing preference is restrained by folder preference.</p>
    <p ng-if="objectDao.userId" class="warning">This {{::isFile ? 'file' : 'folder'}} belongs to
      <cl-user-name user-id="objectDao.userId"></cl-user-name>.</p>
    <md-radio-group ng-model="objectDao.effectiveSharing" ng-if="isFile && !objectDao.isReadOnly && !objectDao.userId">
      <md-radio-button value="" ng-disabled="folderDao.sharing.length > 0">private</md-radio-button>
      <div class="sharing-dialog__info">Only you can access the file.</div>
      <md-radio-button value="r" ng-disabled="folderDao.sharing.length > 1">public
        <span class="sharing-dialog__label sharing-dialog__label--read">read only</span>
      </md-radio-button>
      <div class="sharing-dialog__info">Anyone with the link can read the file.</div>
      <md-radio-button value="rw">public
        <span class="sharing-dialog__label sharing-dialog__label--read-write">read/write</span>
      </md-radio-button>
      <div class="sharing-dialog__info">Premium users with the link can modify the file.</div>
      <br>
    </md-radio-group>
    <md-radio-group ng-model="objectDao.effectiveSharing" ng-if="!isFile && !objectDao.isReadOnly && !objectDao.userId">
      <md-radio-button value="">private</md-radio-button>
      <div class="sharing-dialog__info">Only you can access the folder.</div>
      <md-radio-button value="r">public
        <span class="sharing-dialog__label sharing-dialog__label--read">read only</span>
      </md-radio-button>
      <div class="sharing-dialog__info">Anyone with the link can read the folder and all its files.</div>
      <md-radio-button value="rw">public
        <span class="sharing-dialog__label sharing-dialog__label--read-write">read/write</span>
      </md-radio-button>
      <div class="sharing-dialog__info">Premium users with the link can modify the folder and all its files.</div>
      <br>
    </md-radio-group>
    <md-input-container>
      <label>Share link</label>
      <input autocomplete="off" class="url" ng-model="sharingUrl">
    </md-input-container>
    <div layout="row" layout-align="end">
      <md-button class="sharing-dialog__share-button sharing-dialog__share-button--twitter md-fab md-mini icon-twitter" target="_blank" ng-href="http://twitter.com/share?url={{::encodedSharingUrl}}&text={{::encodedName}}&via=classeurapp" aria-label="Share on Twitter">
      </md-button>
      <md-button class="sharing-dialog__share-button sharing-dialog__share-button--facebook md-fab md-mini icon-facebook" target="_blank" ng-href="http://www.facebook.com/sharer/sharer.php?u={{::encodedSharingUrl}}" aria-label="Share on Facebook">
      </md-button>
      <md-button class="sharing-dialog__share-button sharing-dialog__share-button--google-plus md-fab md-mini icon-google-plus" target="_blank" ng-href="https://plus.google.com/share?url={{::encodedSharingUrl}}" aria-label="Share on Google Plus">
      </md-button>
      <md-button class="sharing-dialog__share-button sharing-dialog__share-button--linkedin md-fab md-mini icon-linkedin" target="_blank" ng-href="http://www.linkedin.com/shareArticle?url={{::encodedSharingUrl}}" aria-label="Share on LinkedIn">
      </md-button>
    </div>
    <div class="cl-public-corner" ng-if="objectDao.userId">
      <div class="icon-publ"></div>
    </div>
  </md-dialog-content>
  <div class="md-actions">
    <div ng-if="folderDao" class="md-primary">
      <md-button class="md-primary" ng-click="openFolder()">See folder</md-button>
    </div>
    <md-button class="md-primary" ng-click="close()">
      Close
    </md-button>
  </div>
</md-dialog>
