.conflict-highlighting {
    -webkit-transition: 0.12s ease-out background-color;
    transition: 0.12s ease-out background-color;
    padding: 0.25em 0;
    cursor: pointer;
    &.hover,
    &.selected {
        * {
            background-color: transparent;
        }
    }
    &.del {
        text-decoration: line-through;
    }
}

$highlighting-color-part-1: #FF6060;
$highlighting-color-part-2: #d070a0;
.conflict-highlighting-part-1 {
    background-color: mix(#fff, $highlighting-color-part-1, 60%);
    &.hover {
        background-color: mix(#fff, $highlighting-color-part-1, 20%);
    }
}

.conflict-highlighting-part-2 {
    background-color: mix(#fff, $highlighting-color-part-2, 60%);
    &.hover {
        background-color: mix(#fff, $highlighting-color-part-2, 20%);
    }
}

.conflict-alert.panel {
    width: 220px;
    height: 220px;
    left: 15px;
    top: 15px;
    font-size: 14px;
    padding-top: 5px;
    p {
        line-height: 1.3;
    }
    .close.btn {
        top: 0;
        right: 0;
        a {
            font-size: 22px;
            line-height: 30px;
        }
    }
}

.fix.conflict.dialog {
    .md-highlighting {
        .h1,
        .h11,
        .h2,
        .h22,
        .h3,
        .h4,
        .h5,
        .h6,
        .md-toc {
            font-size: inherit;
        }
    }
    .conflict-highlighting.selected {
        background-color: #C3E6DB;
    }
}
