@import 'bourbon';

.conflict-highlighting {
  cursor: pointer;
  padding: .25em 0;

  @include transition(.12s ease-out background-color);
}

.conflict-highlighting--hover,
.conflict-highlighting--selected {
  * {
    background-color: transparent;
  }
}

.conflict-highlighting--selected {
  background-color: #c3e6db;
}

.conflict-highlighting--deleted {
  * {
    text-decoration: line-through;
  }
}

$highlighting-color-part-1: #ff6060;
$highlighting-color-part-2: #d070a0;

.conflict-highlighting-part-1 {
  background-color: mix(#fff, $highlighting-color-part-1, 60%);

  &.conflict-highlighting--hover {
    background-color: mix(#fff, $highlighting-color-part-1, 20%);
  }
}

.conflict-highlighting-part-2 {
  background-color: mix(#fff, $highlighting-color-part-2, 60%);

  &.conflict-highlighting--hover {
    background-color: mix(#fff, $highlighting-color-part-2, 20%);
  }
}

.conflict-alert {
  font-size: 14px;
  height: 220px;
  left: 15px;
  padding-top: 5px;
  top: 15px;
  width: 220px;

  p {
    line-height: 1.3;
  }
}

.conflict-dialog {
  .md-highlighting {
    .h1,
    .h11,
    .h2,
    .h22,
    .h3,
    .h4,
    .h5,
    .h6,
    .md-toc {
      font-size: inherit;
    }
  }
}
