@import 'variables';

.button-bar.panel {
  background-color: #4a4a4a;
  border-bottom-left-radius: $border-radius-buttonbar;
  border-bottom-right-radius: $border-radius-buttonbar;
  left: 50%;
  z-index: 3; // Over the page
  .light-1,
  .light-2 {
    border: 0 solid rgba(0,0,0,.06);
    width: 92px;
  }
  .light-1 {
    border-bottom-left-radius: $border-radius-buttonbar;
    border-right: 5px solid transparent;
    border-top-width: 60px;
    left: 0;
  }
  .light-2 {
    border-bottom-right-radius: $border-radius-buttonbar;
    border-left: 5px solid transparent;
    border-top-width: 60px;
    right: 0;
  }
  .btn {
    color: #fff;
    font-size: 28px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    position: absolute;
    text-shadow: 1px 1px rgba(0, 0, 0, .33);
    top: 23px;
    width: 28px;
    .icon-code::before {
      content: '\e8a7\e8a8';
      letter-spacing: -.56em;
      margin-left: -.6em;
    }
    .icon-hr::before {
      content: '\25A0\25A0\25A0\25A0';
      font-family: sans-serif;
      font-size: 9px;
      letter-spacing: -.06em;
      vertical-align: middle;
    }
    &[disabled] {
      color: #606060 !important;
      text-shadow: none;
    }
  }
}
