@import 'variables';
@import 'bourbon';

.button-bar {
  background-color: #4a4a4a;
  left: 50%;
  z-index: 3; // Over the page

  @include border-bottom-radius(8px);
}

$button-height: 28px;

.button-bar__button {
  color: #fff;
  font-size: 30px;
  height: $button-height;
  line-height: $button-height;
  padding: 0;
  position: absolute;
  top: 28px;
  width: 26px;

  [class^='icon-'],
  [class*=' icon-'] {
    display: block;
  }

  .icon-code::before {
    content: '\e8a7\e8a8';
    letter-spacing: -.56em;
    margin-left: -.6em;
  }

  .icon-hr::before {
    content: '\2014';
    font-family: sans-serif;
  }

  &[disabled] {
    // scss-lint:disable ImportantRule
    color: #707070 !important;
    text-shadow: none;
  }
}
