.sharing.dialog {
    min-width: 420px;
    .md-input[disabled] {
        color: rgba(0, 0, 0, 0.87);
    }
    .btn-grp {
        button {
            width: 46px;
            height: 46px;
            margin-left: 4px;
            font-size: 18px;
        }
        .icon-facebook {
            background-color: #3b5998 !important;
        }
        .icon-linkedin {
            background-color: #007bb6 !important;
        }
        .icon-twitter {
            background-color: #00aced !important;
        }
        .icon-google-plus {
            background-color: #dd4b39 !important;
        }
    }
    .help {
        color: rgba(0, 0, 0, 0.54);
        font-size: 12px;
        padding-left: 40px;
        margin-top: -10px;
        line-height: 1;
    }
}
