@import 'bourbon';
@import 'variables';

.folder-name {
  height: 120px;
}

.folder-name__input-container {
  letter-spacing: -.01em;
  margin: 0;
  width: 100%;
}

.folder-name__input {
  font-size: 32px;
  font-weight: 300;
}

.folder-name__menu-btn {
  color: #fff;
  display: block;
  font-size: 30px;
  height: 42px;
  padding: 0;
  width: 38px;
}

$folder-border-width: 3px;
$folder-entry-icon-height: 48px;

.folder-entry {
  background-color: #fff;
  border-style: solid;
  height: auto;
  position: absolute;
  top: 3 * $folder-entry-icon-height;
  // scss-lint:disable ImportantRule
  transition-property: transform, box-shadow !important; // prevent animation on hiding
  width: 32px;

  @include border-right-radius($folder-border-width);
  @include border-width(0 $folder-border-width 0 0);
}

.folder-entry__button {
  border-radius: 0;
  color: rgba(0, 0, 0, .67);
  font-size: 12.5px;
  letter-spacing: 0;
  padding: 12px 0;
  text-transform: none;
  vertical-align: middle;
  width: 100%;

  [class^='icon-'],
  [class*=' icon-'] {
    font-size: 1em;
  }
}

.folder-entry__inner {
  display: inline-block;
  line-height: 30px;
  min-height: 40px;
  width: 30px;

  @include prefixer(writing-mode, vertical-lr, webkit spec);

  .cl-public-corner {
    display: none;
  }
}

.folder-entry__inner--public {
  padding-top: 10px;

  .cl-public-corner {
    display: block;
  }

  .cl-sharing-indicator::after {
    top: 18px;
  }
}

.folder-entry--selected {
  &.folder-entry .folder-entry__button {
    &.md-focused,
    &:hover {
      background-color: transparent;
    }
  }
}

.folder-entry--recent,
.folder-entry--unclassified,
.folder-entry--create {
  height: $folder-entry-icon-height;
  top: 0;
  width: 42px;
  z-index: 9998;

  @include border-right-radius($folder-border-width);

  .folder-entry__button {
    font-size: 22px;
    padding: 0;
  }
}

.folder-entry--unclassified {
  top: $folder-entry-icon-height;
  width: 40px;

  .icon-search {
    display: inline-block;

    @include transform(scale(-1, 1));
  }
}

.folder-entry--create {
  top: 2 * $folder-entry-icon-height;
  width: 38px;

  .folder-entry__button {
    font-size: 19px;
  }
}

.folder-entry__icon {
  line-height: $folder-entry-icon-height;
}

.folder-entry--current {
  background-color: #fff;
  display: none;
  top: 3 * $folder-entry-icon-height;
  z-index: 10000;
}
