.file.properties.dialog {
    min-width: 360px;
    .md-button {
    	margin-top: 20px;
    }
    md-input-container {
    	padding-bottom: 0;
    }
    pre.example {
        padding-left: 50px;
    }
}
