<md-dialog class="file properties dialog">
    <md-dialog-content>
        <h2>File properties</h2>
        <div layout="row" ng-repeat="property in properties">
            <md-button class="icon-remove" ng-click="deleteRow(property)" aria-label="Delete property"></md-button>
            <md-input-container>
                <label>Key</label>
                <input ng-model="property.key">
            </md-input-container>
            <md-input-container>
                <label>Value</label>
                <input ng-model="property.value">
            </md-input-container>
        </div>
        <div layout="row" layout-align="end">
            <md-button ng-click="addRow()">
                Add
                <span class="icon-add"></span>
            </md-button>
        </div>
        <div class="tip">
            <b>Tip:</b> To activate Emoji:
        <pre class="example">ext:emoji      true</pre>
        </div>
        <md-button class="md-primary">
            More about extensions...
        </md-button>
    </md-dialog-content>
    <div class="md-actions">
        <md-button ng-click="cancel()" class="md-primary">
            Cancel
        </md-button>
        <md-button ng-click="ok()" class="md-primary">
            Ok
        </md-button>
    </div>
</md-dialog>
