<div class="file-history-entry" ng-class="{'file-history-entry--selected': fileHistorySvc.selectedChangeGroup === changeGroup}">
  <div class="file-history-entry__selector" ng-click="selectChangeGroup(changeGroup)">
    <div class="file-history-entry__header">
      <cl-user-name class="file-history-entry__user-name" ng-repeat="userId in changeGroup.userIds track by userId" user-id="userId"></cl-user-name>
      <span class="file-history-entry__created">
        {{changeGroup.created | clTimeSince:minuteCounter}}
      </span>
    </div>
    <div layout="row" layout-align="end center">
      <md-button class="file-history-entry__button icon-restore" md-no-ink aria-label="Restore revision" title="Restore revision" ng-click="restoreRevision(changeGroup.toRev); $event.stopPropagation()"></md-button>
      <md-chips>
        <md-chip class="file-history-entry__chip">rev {{changeGroup.toRev}}</md-chip>
      </md-chips>
    </div>
  </div>
  <div ng-if="fileHistorySvc.selectedChangeGroup === changeGroup" ng-switch="isLoading">
    <cl-block-spinner ng-switch-when="true"></cl-block-spinner>
    <div class="file-change-list" ng-switch-when="false">
      <div class="file-change" ng-if="noChange">
        <div class="file-change__type">
          No change.
        </div>
      </div>
      <div class="file-change" ng-repeat="textChange in textChanges">
        <div class="file-change__type">
          {{::textChange.d ? 'Removed text:' : 'Added text:'}}
        </div>
        <div class="file-change__text markdown-highlighting markdown-highlighting--inline" ng-class="::{'file-change__text--removed': textChange.d}" ng-bind-html="::textChange.a || textChange.d | clHighlightMarkdown:editorSvc.converter:editorSvc.prismGrammars">
        </div>
      </div>
      <div class="file-change" ng-repeat="commentChange in commentChanges">
        <div class="file-change__type">
          Added comment:
        </div>
        <div class="file-change__comment comment-text" ng-bind-html="::commentChange.a.text | clConvertMarkdown">
        </div>
      </div>
    </div>
  </div>
</div>
