<div class="file-history item">
    <div class="selector" ng-click="selectRevision()">
        <div class="users">
            <cl-user-name ng-repeat="userId in changeGroup.userIds track by userId" user-id="userId"></cl-user-name>
            <span class="created">
                {{changeGroup.created | clTimeSince:minuteCounter}}
            </span>
        </div>
        <div layout="row" layout-align="end">
            <md-chips ng-model="revision" readonly="true"></md-chips>
        </div>
    </div>
    <hr>
</div>
