@import 'bourbon';

.file-history-tab {
  padding: 20px 15px;
}

.file-history-tab--selected {
  .file-history-entry {
    opacity: .15;

    &:hover {
      opacity: .4;
    }
  }

  .file-history-entry--selected {
    &,
    &:hover {
      opacity: 1;
    }
  }
}

.file-history-tab__show-more {
  font-size: 14px;
}

.file-history-entry {
  margin-bottom: 10px;
  position: relative;

  @include transition(.12s ease-out opacity);

  .md-chips {
    padding-bottom: 0;
  }

  &::before {
    background-color: rgba(0, 0, 0, .067);
    content: '';
    height: 100%;
    left: 12px;
    position: absolute;
    top: 24px;
    width: 2px;
    z-index: -1;
  }

  &:last-child::before {
    display: none;
  }
}

.file-history-entry__selector {
  cursor: pointer;
}

.file-history-entry__header {
  line-height: 2em;
  margin-left: 30px;
  text-indent: -30px;
}

.file-history-entry__user-name {
  padding-right: 10px;
}

.file-history-entry__created {
  color: rgba(0, 0, 0, .4);
  font-size: .7em;
  padding-left: 4px;
  text-shadow: 1px 1px rgba(255, 255, 255, .33);
  white-space: nowrap;
}

.file-history-entry__button {
  color: rgba(0, 0, 0, .67);
  font-size: 20px;
  height: 28px;
  padding: 0;
  visibility: hidden;
  width: 28px;

  .file-history-entry--selected & {
    visibility: visible;
  }
}

.file-history-entry__chip {
  .file-history-entry & {
    cursor: pointer;
    font-size: 10px;
    height: 22px;
    line-height: 22px;
    margin: 0;
  }
}

.file-change-list {
  margin-bottom: 20px;
  margin-left: 25px;
}

.file-change {
  margin: 10px 0;
}

.file-change__type {
  color: rgba(0, 0, 0, .4);
  font-size: 13px;
  margin: 3px 0;
  text-shadow: 1px 1px rgba(255, 255, 255, .33);
  white-space: nowrap;
}

.file-change__text,
.file-change__comment {
  font-size: 14px;
}

.file-change__text--removed {
  * {
    text-decoration: line-through;
  }
}
