.plan.chooser.panel {
    & > div {
        height: 100%;
        margin: auto;
        max-width: 840px;
    }
    .logo {
        width: 180px;
        height: 64px;
        background-image: url('assets/images/logo.png');
        background-size: 180px 60px;
    }
    .scroller {
        overflow: auto;
    }
    .menu {
        padding: 0 5px;
        border-top: 1px solid rgba(128, 128, 128, 0.2);
        .md-button {
            padding: 8px;
        }
    }
    .title {
        text-align: center;
        font-size: 42px;
        font-weight: 300;
        margin: 10px 0;
    }
    .plan.item {
        background-color: #fff;
        margin: 0 5px 100px;
        height: 520px;
        text-align: center;
        &.premium {
            .header {
                background-color: #3EB8A4;
                color: #fff;
            }
        }
        .header {
            padding-top: 20px;
            margin-bottom: 30px;
            background-color: #ebebeb;
            height: 175px;
        }
        .name {
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 15px;
        }
        .price {
            font-size: 40px;
            line-height: 1;
        }
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            font-size: 14px;
            padding: 6px 0;
            list-style-type: none;
        }
        .md-button {
            font-size: 22px;
            padding: 10px 15px;
            margin: 15px;
            .info {
                padding-top: 6px;
                text-transform: none;
                font-size: 14px;
            }
        }
    }
}
