@font-face {
    font-family: 'icomoon';
    src: url(assets/icons/fonts/icomoon.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(assets/fonts/Roboto-Light.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(assets/fonts/Roboto-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(assets/fonts/Roboto-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(assets/fonts/Roboto-LightItalic.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'), url(assets/fonts/Roboto-Italic.woff) format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(assets/fonts/Roboto-BoldItalic.woff) format('woff');
}

@font-face {
    font-family: 'Cousine';
    font-style: normal;
    font-weight: 400;
    src: local('Cousine'), url(assets/fonts/Cousine.woff) format('woff');
}

@font-face {
    font-family: 'Cousine';
    font-style: normal;
    font-weight: 700;
    src: local('Cousine Bold'), local('Cousine-Bold'), url(assets/fonts/Cousine-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Cousine';
    font-style: italic;
    font-weight: 400;
    src: local('Cousine Italic'), local('Cousine-Italic'), url(assets/fonts/Cousine-Italic.woff) format('woff');
}

@font-face {
    font-family: 'Cousine';
    font-style: italic;
    font-weight: 700;
    src: local('Cousine Bold Italic'), local('Cousine-BoldItalic'), url(assets/fonts/Cousine-BoldItalic.woff) format('woff');
}
