input {
    border-width: 0;
}

.md-char-counter {
    display: none;
}

.md-button {
    padding: 6px;
    margin: 0;
    line-height: inherit;
    font-size: inherit;
    min-width: 0;
    &, &.md-fab {
        line-height: 1;
    }
}

md-slider.md-default-theme .md-track {
    background-color: #aaa;
}

.md-track-ticks {
    display: none;
}

md-switch {
    .md-container {
        width: 60px;
    }
    .md-thumb {
        left: 1px;
        top: 1px;
        height: 18px;
        width: 18px;
    }
    &.md-default-theme .md-bar {
        width: 54px;
        height: 2px;
        top: 12px;
    }
    .md-thumb-container {
        top: 2px;
        left: 0;
        width: 36px;
    }
}

md-radio-group {
    border: 0;
}

.md-button {
    font-weight: normal;
    &:hover, &:focus {
        background-color: transparent !important;
    }
}

.md-ripple-container {
    background-color: transparent !important;
}

md-switch .md-label {
    border-width: 0px;
}

md-switch.md-default-theme.md-checked.md-primary .md-bar {
    background-color: rgb(70, 173, 245);
}

md-slider.md-default-theme .md-track.md-track-fill {
    background-color: rgb(70, 173, 245);
}

md-slider.md-default-theme .md-thumb:after {
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-color: rgb(33, 150, 243);
    background-color: rgb(33, 150, 243);
}

md-slider.md-default-theme.md-min .md-thumb:after {
    background-color: rgb(33, 150, 243);
}

md-dialog {
    max-width: 500px;
    &.transition-in, &.transition-out {
        transition: all 1ms;
    }
    &.md-default-theme {
        border-radius: 0;
    }
}

md-input-container.md-classeur-theme .md-input[disabled],
[disabled] md-input-container.md-classeur-theme .md-input {
    color: #fff;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 33%, transparent 0%);
    background-image: -ms-linear-gradient(left, transparent 0%, rgba(255, 255, 255, 0.6) 100%);
}

md-content.md-default-theme,
.md-subheader.md-default-theme {
    background-color: transparent;
    font-size: inherit;
}
