input {
    border-width: 0;
}

.md-char-counter {
    display: none;
}

.md-button {
    padding: 8px 10px;
    margin: 0;
    line-height: inherit;
    font-size: inherit;
    min-width: 0;
    min-height: 0;
    &, &.md-fab {
        line-height: 1;
    }
}

md-slider.md-default-theme .md-track {
    background-color: #aaa;
}

.md-track-ticks {
    display: none;
}

md-switch {
    .md-container {
        width: 60px;
    }
    .md-thumb {
        left: 1px;
        top: 1px;
        height: 18px;
        width: 18px;
    }
    &.md-default-theme .md-bar {
        width: 54px;
        height: 2px;
        top: 12px;
    }
    .md-thumb-container {
        top: 2px;
        left: 0;
        width: 36px;
    }
}

md-radio-group {
    border: 0;
}

.md-button {
    font-weight: normal;
    height: auto;
    &:hover, &:focus {
        background-color: transparent !important;
    }
}

.md-ripple-container {
    background-color: transparent !important;
}

md-switch .md-label {
    border-width: 0px;
}

md-switch.md-default-theme.md-checked.md-primary .md-bar {
    background-color: rgb(70, 173, 245);
}

md-slider.md-default-theme .md-track.md-track-fill {
    background-color: rgb(70, 173, 245);
}

md-slider.md-default-theme .md-thumb:after {
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-color: rgb(33, 150, 243);
    background-color: rgb(33, 150, 243);
}

md-slider.md-default-theme.md-min .md-thumb:after {
    background-color: rgb(33, 150, 243);
}

md-dialog {
    max-width: 500px;
    &.transition-in {
        -webkit-transition: opacity 0.3s ease-out;
        transition: opacity 0.3s ease-out;
    }
    &.transition-out {
        -webkit-transition: all 1ms linear;
        transition: all 1ms linear;
    }
    &.md-default-theme {
        border-radius: 0;
        background-color: #F4F4F4;
    }
    .md-title,
    h2 {
        font-size: 1.8em;
        font-weight: bold;
    }
}

md-backdrop.md-opaque.md-default-theme {
    background-color: #000;
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.25)), color-stop(100%, rgba(0, 0, 0, 0.75)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.75) 100%);
    background: radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.75) 100%);
}

md-backdrop.ng-enter {
    -webkit-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
    opacity: 0;
}

md-backdrop.ng-enter.ng-enter-active {
    opacity: 1;
}

md-backdrop.ng-leave {
    -webkit-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
    opacity: 1;
}

md-backdrop.ng-leave.ng-leave-active {
    opacity: 0;
}

md-input-container.md-classeur-theme .md-input[disabled],
[disabled] md-input-container.md-classeur-theme .md-input {
    color: #fff;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 33%, transparent 0%);
    background-image: -ms-linear-gradient(left, transparent 0%, rgba(255, 255, 255, 0.6) 100%);
}

md-checkbox.md-default-theme .md-icon {
    border-left-width: 1px;
    border-top-width: 1px;
}

md-checkbox.md-default-theme.md-checked .md-icon {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

md-tooltip {
    border-radius: 6px;
    p {
        margin: 0.5em 0;
        font-size: 12px;
        line-height: 1.3;
    }
    p:first-child {
        font-size: 18px;
        margin: 0.2em 0 1em;
    }
    &.md-default-theme .md-background {
        background-color: rgba(40, 40, 40, 0.9);
    }
    .md-content {
        height: auto;
        max-width: 270px;
        padding: 12px;
        white-space: inherit;
    }
    .md-background {
        border-radius: 0;
    }
}
