@import 'bourbon';

@media print {
  // scss-lint:disable ImportantRule
  body {
    background-color: transparent !important;
    color: #000 !important; // Black prints faster
    overflow: visible !important;
    position: absolute !important;
  }

  body > *,
  ng-view > *,
  cl-editor-layout > *,
  .editor-layout > *,
  .editor-layout__inner-1 > *,
  .preview.content > .filename.space {
    display: none !important;
  }

  body > ng-view,
  ng-view > cl-editor-layout,
  cl-editor-layout > .editor-layout,
  .editor-layout > .editor-layout__inner-1,
  .editor-layout__inner-1 > .preview.panel,
  .preview.container {
    background-color: transparent !important;
    box-shadow: none !important;
    display: block !important;
    height: auto !important;
    overflow: visible !important;
    position: static !important;
    @include transform(none !important);
    width: auto !important;
  }

  .preview.content {
    padding: 0 50px !important;
  }
  // scss-lint:enable ImportantRule
}
