$font-family: Roboto, sans-serif;
$font-family-editor: Roboto, sans-serif;
$font-family-monospace: 'Office Code Pro', monospace;
$font-size-monospace: .85em;
$body-color: #dedede;
$background-color: #f4f4f4;
$text-color: rgba(0, 0, 0, .87);
$link-color: #316ed3;
$code-bg: #eee;
$border-radius-base: 3px;
$border-radius-binder: 6px;
$blue: #2196f3;
$teal: #009688;
$green: #4caf50;
$light-green: #8bc34a;
$lime: #cddc39;
$yellow: #ffeb3b;
$amber: #ffc107;
$red: #f44336;
$pink: #e91e63;
$deep-purple: #673ab7;
$plastic-colors: $blue,
  mix($blue, $teal, 50%),
  $teal,
  mix($teal, $green, 50%),
  $green,
  mix($green, $lime, 50%),
  $lime,
  mix($lime, $amber, 50%),
  $amber,
  mix($amber, $red, 75%),
  mix($amber, $red, 50%),
  mix($amber, $red, 25%),
  $red,
  $pink,
  mix($pink, $deep-purple, 67%),
  mix($pink, $deep-purple, 33%),
  $deep-purple,
  mix($deep-purple, $blue, 67%),
  mix($deep-purple, $blue, 33%);
$editor-margin-width: 110px;
$ced-color: rgba(0, 0, 0, .92);
$ced-color-light: rgba(0, 0, 0, .6);
$ced-color-lighter: rgba(0, 0, 0, .28);
$ced-color-dark: #000;
