$font-family: Roboto, sans-serif;
$font-family-editor: Roboto, sans-serif;
$font-family-monospace: 'Office Code Pro', monospace;
$font-size-monospace: .85em;
$body-color: #dedede;
$background-color: #fafafa;
$text-color: rgba(0, 0, 0, .87);
$link-color: #316ed3;
$code-bg: #eee;
$border-radius-base: 3px;
$border-radius-binder: 6px;
$border-radius-buttonbar: 10px;
$plastic-color-0: #3a94da; // blue
$plastic-color-1: lighten(desaturate(#f2b50d, 17.5%), 2.5%); // yellow
$plastic-color-2: desaturate(#20bc9c, 30%); // green
$plastic-color-3: desaturate(#ea6a3c, 10%); // red
$plastic-color-4: darken(#95a5a6, 5%); // light gray
$plastic-color-5: lighten(desaturate(#34495e, 5%), 15%); // dark gray
$editor-margin-width: 110px;
$ced-color: rgba(0, 0, 0, .92);
$ced-color-light: rgba(0, 0, 0, .6);
$ced-color-lighter: rgba(0, 0, 0, .28);
$ced-color-dark: #000;
