$font-family: Roboto,
sans-serif;
$font-family-monospace: Cousine,
monospace;
$font-size-monospace: 0.85em;
$link-color: #316ED3;
$code-bg: #eee;
$border-radius-base: 4px;
@import 'prism';
@import 'fonts';
html {
    font-family: $font-family;
}

html,
body {
    color: rgba(0, 0, 0, 0.87);
    -webkit-font-smoothing: antialiased;
    line-height: 1.45;
}

a {
    color: $link-color;
}

code,
kbd,
pre,
samp {
    font-family: $font-family-monospace;
    font-size: $font-size-monospace;
    * {
        font-size: 1em;
    }
}

blockquote {
    font-weight: 300;
}

code {
    padding: 2px 4px;
    background-color: $code-bg;
    border-radius: $border-radius-base;
}

hr {
    border: 0;
    border-top: 1px solid rgba(128, 128, 128, 0.2);
}

pre.prettyprint {
    color: black;
    padding: 0;
    border: 0;
}

pre > code {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #f0f0f0;
    text-shadow: 0 1px white;
    -webkit-text-size-adjust: none;
}

.toc ul {
    list-style-type: none;
    padding-left: 20px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    background-color: transparent;
}

td,
th {
    padding: 8px;
}

tr:nth-child(even) td {
    background-color: $code-bg;
}

th {
    background-color: $code-bg;
}

kbd {
    padding: .1em .6em;
    border: 1px solid rgba(63, 63, 63, 0.25);
    -webkit-box-shadow: 0 1px 0 rgba(63, 63, 63, 0.25);
    box-shadow: 0 1px 0 rgba(63, 63, 63, 0.25);
    font-size: .7em;
    background-color: #fff;
    color: #333;
    border-radius: 3px;
    display: inline-block;
    margin: 0 .1em;
    white-space: nowrap;
}

.footnote {
    vertical-align: top;
    position: relative;
    top: -0.25em;
    font-size: .8em;
}

body .container {
    margin-bottom: 180px;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
