$plastic-colors: #3498db, lighten(desaturate(#f1c40f, 15%), 2.5%), lighten(desaturate(#1abc9c, 30%), 5%), lighten(desaturate(#e74c3c, 10%), 2.5%), darken(#95a5a6, 2.5%), lighten(#34495e, 15%);
$editor-margin-width: 120px;


@import 'base';
@import '../blogs/blogs';
@import '../core/button/button';
@import '../core/editor/editor';
@import '../core/editor/preview';
@import '../core/editor/toc';
@import '../core/editorLayout/editorLayout';
@import '../core/explorerLayout/explorerLayout';
@import '../core/filePropertiesDialog/filePropertiesDialog';
@import '../core/settingsLayout/settingsLayout';
@import '../core/templateManagerDialog/templateManagerDialog';
@import '../core/user/user';
@import '../opt/btnBar/btnBar';
@import '../opt/commenting/commenting';
@import '../opt/exportToDisk/exportToDisk';
@import '../opt/fileDragging/fileDragging';
@import '../opt/folding/folding';
@import '../opt/headingAnchor/headingAnchor';
@import '../opt/offlineAlert/offlineAlert';
@import '../opt/planChooser/planChooser';
@import '../opt/readOnlyAlert/readOnlyAlert';
@import '../opt/recentAlert/recentAlert';
@import '../opt/urlDialog/urlDialog';
@import '../opt/sharingDialog/sharingDialog';
@import '../opt/spinner/spinner';
@import '../opt/stat/stat';
@import '../opt/userActivity/userActivity';
@import '../opt/zenMode/zenMode';
@import '../ext/emojiOne/emojiOne';
@import 'material';

body {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #ccc;
	text-rendering: auto;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

*, *:before, *:after {
	box-sizing: border-box;
}

:focus {
	outline: none;
}

.panel {
	position: absolute;
	width: 100%;
	height: 100%;
}

.no-overflow {
	overflow: hidden;
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.background {
	background-color: #F9F9F9;
}

.paper {
	background-color: #fff;
}

@for $i from 1 through length($plastic-colors) {
    $c: nth($plastic-colors, $i);
	.plastic-#{$i - 1} {
		background-color: lighten(desaturate($c, 14%), 18%) !important;
	}
}
.hole {
    box-shadow: inset 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 10px;
}

.postit {
    background-color: #FFF7B2;
    cursor: move;
}

.gutter {
    position: absolute;
    top: 0;
    width: $editor-margin-width;
    div {
        position: absolute;
        cursor: pointer;
        color: transparentize(#000, 0.75);
        &:hover {
            color: transparentize(#000, 0.6);
        }
    }
}

.nav {
    height: 120px;
    md-input-container {
        padding-bottom: 10px;
    }
}

.margin {
    background-color: #FFE5E1;
}

.rotate-90 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate-180 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate-270 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.bounce.ng-enter {
    -webkit-transition: 0.16s cubic-bezier(0.5, -0.5, 0.5, 1.5) all;
    transition: 0.16s cubic-bezier(0.5, -0.5, 0.5, 1.5) all;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.bounce.ng-enter.ng-enter-active {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.bounce.ng-leave {
    -webkit-transition: 0.16s cubic-bezier(0.5, -0.5, 0.5, 1.5) all;
    transition: 0.16s cubic-bezier(0.5, -0.5, 0.5, 1.5) all;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.bounce.ng-leave.ng-leave-active {
    -webkit-transform: scale(0);
    transform: scale(0);
}
