<md-dialog class="export-to-disk dialog">
    <md-dialog-content>
        <h2>Export
        </h2>
        <md-radio-group ng-model="config.format">
            <md-radio-button value="text">Text</md-radio-button>
            <div class="options">
                <div class="label">
                    Template
                </div>
                <md-select ng-model="config.textTemplateKey" ng-change="config.format = 'text'">
                    <md-option ng-repeat="(key, value) in templates" value="{{key}}">{{key}}</md-option>
                </md-select>
                <md-input-container flex>
                    <label>Preview</label>
                    <textarea ng-model="textPreview" row="3"></textarea>
                </md-input-container>
                <md-button ng-click="manageTemplates()">
                    Manage templates...
                </md-button>
            </div>
            <md-radio-button value="pdf">PDF</md-radio-button>
            <div class="options">
                <div class="label">
                    Template
                </div>
                <md-select ng-model="config.pdfTemplateKey" ng-change="config.format = 'pdf'">
                    <md-option ng-repeat="(key, value) in pdfTemplates" value="{{key}}">{{key}}</md-option>
                </md-select>
                <md-button ng-click="managePdfTemplates()">
                    Manage PDF templates...
                </md-button>
            </div>
        </md-radio-group>
    </md-dialog-content>
    <div class="md-actions">
        <md-button ng-click="cancel()" class="md-primary">
            Cancel
        </md-button>
        <md-button ng-click="export()" class="md-primary">
            Export
        </md-button>
    </div>
</md-dialog>
