.export-dialog {
  min-width: 360px;
}

.export-dialog__radio-btn {
  margin: 24px 0 26px;

  .md-label {
    width: 100px;
  }
}

.export-dialog__preview {
  color: #888;
  font-size: 14px;
  line-height: inherit;
  max-height: 65px;
  min-height: 65px;
}

.export-dialog__clipboard {
  color: rgba(0, 0, 0, 0.6) !important;
  font-size: 20px;
  margin-left: 10px;
}
