.export-to-disk.dialog {
    min-width: 360px;
    md-radio-button .md-label {
        width: 100px;
    }
    .options {
        margin-left: 150px;
        textarea {
            height: 65px !important;
            max-height: 65px;
            max-height: 65px;
            font-size: 14px;
            line-height: inherit;
            color: #888;
        }
    }
}
