<md-dialog class="premium-pdf">
  <md-dialog-content>
    <h2>Sign in</h2>
    <p>You need to sign in to export documents.</p>
    <p>Alternatively, you can use the Print dialog to export as PDF.</p>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="cancel()" class="md-primary">
      Cancel
    </md-button>
    <md-button class="md-primary" ng-click="userSvc.startOAuth()" ng-if="!userSvc.user && !config.loginForm">
      Sign in with Google
    </md-button>
    <md-button class="md-primary" ng-href="#!/signin" ng-if="!userSvc.user && config.loginForm">
      Sign in
    </md-button>
  </md-dialog-actions>
</md-dialog>
