<div class="tip">
    <b>Repository URL:</b> {{form.subForm.repoUrl}}
</div>
<br>
<div class="tip">
    <b>Add a YAML front matter in your template:</b>
    <pre ng-non-bindable>
---
{{#toYaml file.content.properties}}{{/toYaml}}
---</pre>
</div>
<md-input-container>
    <label>File path</label>
    <input ng-model="form.subForm.filePath">
</md-input-container>
<p class="tip">
    <b>Example:</b> docs/README.md
</p>
<md-input-container>
    <label>Branch</label>
    <input ng-model="form.subForm.branch">
</md-input-container>
