.findreplace.panel {
	background-color: transparentize(#dadada, 0.05);
	color: #404040;
	bottom: 0;
	height: 35px;
	font-size: 14px;
	.close.btn {
		font-size: 22px;
    color: rgba(0,0,0,0.48);
    line-height: 14px;
	}
	.input {
		width: 150px;
		margin: 0 5px;
		padding: 5px 2px;
	}
}

.find-replace-highlighting {
	background-color: #ff0;
}

.find-replace-selection {
	background-color: #ff9632;
}
