<div class="find-replace panel no-overflow" layout="row" layout-align="start center">
  <md-button class="find-replace__close-btn icon-clear" md-no-ink ng-click="editorLayoutSvc.currentControl = undefined" aria-label="Close">
  </md-button>
  <input class="find-replace__input find-replace__input--find md-whiteframe-z1" autocomplete="off" ng-model="findText">
  <md-button ng-click="find()">
    Find
  </md-button>
  <input class="find-replace__input find-replace__input--replace md-whiteframe-z1" autocomplete="off" ng-model="replaceText">
  <md-button ng-click="replace()">
    Replace
  </md-button>
  <md-button ng-click="replaceAll()">
    All
  </md-button>
</div>
