.preview.panel {
    &.hidden {
        display: none;
    }
}

.binder.panel {
    .header.panel {
        height: auto;
        padding: 0 105px;
        .content {
            position: relative;
            min-height: 43px;
            font-size: 32px;
            text-transform: uppercase;
            color: #505050;
            border-bottom: 1px solid rgba(128, 128, 128, 0.25);
            padding: 5px 8px 5px 42px;
            line-height: 1;
            text-align: right;
            letter-spacing: -0.03em;
            overflow: hidden;
        }
        .panel {
            left: 0;
            width: 32px;
            height: 32px;
            font-size: 26px;
        }
        .sharing.btn {
            opacity: 0;
            -webkit-transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
            transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
            right: -32px;
        }
        &:hover .sharing.btn {
            opacity: 1;
        }
        .btn a {
            line-height: 32px;
        }
    }
    .page.panel {
        z-index: 1;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        .margin.panel {
            width: 1px;
            left: $editor-margin-width;
        }
        .hole.panel {
            left: 20px;
            width: 20px;
            height: 20px;
            &.first {
                top: 22%;
            }
            &.second {
                bottom: 22%;
            }
        }
    }
    .editor.panel .btn-grp {
        height: 0; // prevent overlap with help button
        .btn a {
            line-height: 34px;
        }
        .close.btn {
            top: 4px;
            left: 4px;
            font-size: 28px;
        }
        .minimize.btn {
            top: 30px;
            left: 4px;
            font-size: 26px;
        }
        .preview.btn {
            top: 60px;
            left: 4px;
            font-size: 24px;
        }
        .tour-step-container {
            position: absolute;
            top: 125px;
            left: 0;
        }
        .menu.btn {
            top: 104px;
            height: 125px;
            box-shadow: 3px 4px 9px -5px rgba(0, 0, 0, 0.2);
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            button {
                .rotate-90 {
                    position: absolute;
                    width: 130px;
                    left: -32px;
                    height: 0;
                }
            }
        }
    }
    .edit.btn {
        right: 15px;
        width: 100px;
        height: 64px;
        padding-bottom: 20px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }
    .menu.btn,
    .edit.btn {
        button {
            line-height: 34px;
            width: 100%;
            height: 100%;
            font-size: 21px;
            color: transparentize(#fff, 0.2);
            &:hover {
                color: #fff;
            }
        }
    }
    .menu.scroller {
        overflow: auto;
        overflow-y: scroll;
    }
    .menu.content {
        padding: 20px 40px 60px;
        height: auto;
        color: #fff;
        .entry, .md-text {
            text-align: center;
        }
        .links {
            margin-bottom: 20px;
            a {
                color: #fff;
                cursor: pointer;
                border-bottom: 1px solid rgba(255, 255, 255, 0.12);
                display: block;
                line-height: 1;
                padding: 3px;
                margin-bottom: 8px;
            }
        }
        md-switch {
            margin: 7px 4px 0;
        }
    }
    .file.name {
        font-size: 20px;
    }
}

.corner.panel {
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    background-color: #eaeaea;
    cursor: pointer;
    .shadow.panel {
        width: 97px;
        background-color: #d8d8d8;
        box-shadow: inset 0px 8px 17px rgba(0, 0, 0, 0.2);
    }
}

.corner.btn a {
    font-size: 28px;
    padding: 5px;
    cursor: pointer;
}

.md-cheat-sheet.btn a {
    font-size: 28px;
    padding: 6px;
}
