<div class="sidebar panel" layout="column">
  <div class="sidebar__header" layout="row" layout-align="space-between center">
    <div class="sidebar__header-text">
      {{tabTitles[selectedTabIndex]}}
    </div>
    <md-button class="sidebar__close-btn icon-clear" md-no-ink ng-click="editorLayoutSvc.toggleSideBar(false)" aria-label="Close side bar">
    </md-button>
  </div>
  <md-tabs md-selected="selectedTabIndex" md-align-tabs="bottom" md-dynamic-height="false" md-no-disconnect="false" md-center-tabs="true" flex>
    <md-tab>
      <md-tab-label>
        <span class="icon-help"></span>
      </md-tab-label>
      <md-tab-body>
        <cl-markdown-sample></cl-markdown-sample>
      </md-tab-body>
    </md-tab>
    <md-tab>
      <md-tab-label>
        <span class="icon-toc"></span>
      </md-tab-label>
      <md-tab-body>
        <cl-toc></cl-toc>
      </md-tab-body>
    </md-tab>
    <md-tab>
      <md-tab-label>
        <span class="icon-question-answer"></span>
      </md-tab-label>
      <md-tab-body>
        <cl-discussion-tab></cl-discussion-tab>
      </md-tab-body>
    </md-tab>
    <md-tab>
      <md-tab-label>
        <span class="icon-history"></span>
      </md-tab-label>
      <md-tab-body>
        <cl-file-history-tab></cl-file-history-tab>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</div>
<div class="editor-layout background panel md-whiteframe-z4">
  <div class="editor-layout__inner-1 panel no-overflow">
    <div class="editor-layout__preview panel" ng-click="editorLayoutSvc.currentControl = undefined">
      <div class="frame panel">
        <div class="frame-inner panel">
        </div>
      </div>
      <cl-preview></cl-preview>
      <div class="navbar panel md-whiteframe-1dp">
        <div class="navbar__inner">
          {{currentFile.name}}
          <div class="navbar__btns">
            <div layout="row" layout-align="end">
              <md-button class="navbar__btn navbar__btn--sharing icon-share" md-no-ink ng-click="editorLayoutSvc.currentControl = 'sharingDialog'" aria-label="Share" title="Share">
              </md-button>
              <md-button class="navbar__btn navbar__btn--edit icon-mode-edit" md-no-ink ng-click="openEditor()" aria-label="Edit" title="Edit">
              </md-button>
              <div class="navbar__animated-btn">
                <md-button class="navbar__btn navbar__btn--close icon-clear" md-no-ink ng-click="setCurrentFile()" aria-label="Close file" title="Close file">
                </md-button>
                <md-button class="navbar__btn navbar__btn--scroll icon-arrow-back" md-no-ink ng-click="editorSvc.scrollToAnchor()" aria-label="Back to top" title="Back to top">
                </md-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="binder panel">
    <div class="binder__inner-1 panel">
      <div class="binder__inner-2 panel md-whiteframe-z2" ng-class="plasticClass">
        <div class="menu panel no-overflow">
          <div class="menu__scroller panel">
            <div class="menu__inner panel">
              <cl-file-name></cl-file-name>
              <div class="menu__links">
                <a class="menu__link" layout="row" layout-align="end end" ng-click="editFileProperties()">
                  <span class="menu__link-text">Properties</span>
                  <span class="menu__link-icon icon-view-list"></span>
                </a>
                <a class="menu__link" layout="row" layout-align="end end" ng-click="editorLayoutSvc.currentControl = 'sharingDialog'">
                  <span class="menu__link-text">Sharing</span>
                  <span class="menu__link-icon icon-share"></span>
                </a>
                <a class="menu__link" layout="row" layout-align="end end" ng-click="editorLayoutSvc.currentControl = 'exportToDisk'">
                  <span class="menu__link-text">Export to disk</span>
                  <span class="menu__link-icon icon-file-download"></span>
                </a>
                <a class="menu__link" layout="row" layout-align="end end" ng-click="editorLayoutSvc.currentControl = 'postToBlog'">
                  <span class="menu__link-text">Post to blog</span>
                  <span class="menu__link-icon icon-cloud"></span>
                </a>
                <a class="menu__link" layout="row" layout-align="end end" ng-click="makeCurrentFileCopy()">
                  <span class="menu__link-text">Make a copy</span>
                  <span class="menu__link-icon icon-content-copy"></span>
                </a>
                <a class="menu__link" layout="row" layout-align="end end" ng-href="#!/settings">
                  <span class="menu__link-text">Settings</span>
                  <span class="menu__link-icon icon-settings"></span>
                </a>
              </div>
              <div class="menu__entry">Zoom</div>
              <md-slider md-discrete ng-model="localSettingSvc.values.editorZoom" step="1" min="1" max="5" aria-label="Zoom">
              </md-slider>
              <div class="menu__entry">Binder color</div>
              <md-slider md-discrete ng-model="localSettingSvc.values.editorColor" step="1" min="1" max="6" aria-label="Binder color">
              </md-slider>
              <cl-button-bar-settings></cl-button-bar-settings>
              <cl-zen-mode-settings></cl-zen-mode-settings>
              <cl-scroll-sync-settings></cl-scroll-sync-settings>
              <md-switch ng-model="localSettingSvc.values.sideBar" class="md-primary">
                Side Bar
              </md-switch>
              <md-switch ng-model="localSettingSvc.values.stat" class="md-primary">
                Status Bar
              </md-switch>
            </div>
          </div>
        </div>
        <div class="right-margin panel">
          <div class="right-margin__btns" layout="column">
            <md-button class="right-margin__btn right-margin__btn--close icon-clear" md-no-ink ng-click="setCurrentFile()" aria-label="Close editor" title="Close editor">
            </md-button>
            <md-button class="right-margin__btn right-margin__btn--minimize icon-remove" md-no-ink ng-click="editorLayoutSvc.toggleEditor(false)" aria-label="Reader mode" title="Reader mode">
            </md-button>
            <md-button class="right-margin__btn right-margin__btn--preview icon-filter-none" md-no-ink ng-click="toggleSidePreview()" cl-editor-tour-next="2" aria-label="Side preview" title="Side preview">
              <md-tooltip md-delay="99999999" md-visible="show" md-direction="left" class="left" cl-tour-step="!isDialogOpen && editorLayoutSvc.isEditorOpen && localSettingSvc.values.editorTourStep === 1">
                <p>Classeur supports Markdown syntax.</p>
                <p>Click
                  <span class="icon-filter-none"></span> to toggle the live preview.
                </p>
                <div layout="row" layout-align="end" class="tooltip-actions">
                  <md-button md-no-ink cl-editor-tour-next>Ok</md-button>
                </div>
              </md-tooltip>
            </md-button>
          </div>
          <div class="menu-btn panel" ng-class="plasticClass">
            <md-button class="menu-btn__button" md-no-ink ng-click="editorLayoutSvc.toggleMenu()" aria-label="Menu">
              <div class="menu-btn__inner">
                Menu
              </div>
            </md-button>
          </div>
        </div>
        <div class="page panel">
          <cl-update-blog-posts-button></cl-update-blog-posts-button>
          <cl-offline-indicator></cl-offline-indicator>
          <div class="page__inner panel md-whiteframe-z1">
            <div class="page__hole page__hole--top panel" ng-class="editorLayoutSvc.isMenuOpen ? 'background' : plasticClass"></div>
            <div class="page__hole page__hole--bottom panel" ng-class="editorLayoutSvc.isMenuOpen ? 'background' : plasticClass"></div>
            <cl-zen-mode></cl-zen-mode>
            <div class="page__margin panel"></div>
            <cl-editor></cl-editor>
          </div>
        </div>
      </div>
    </div>
    <cl-button-bar ng-if="localSettingSvc.values.buttonBar"></cl-button-bar>
  </div>
  <cl-stat></cl-stat>
  <cl-find-replace></cl-find-replace>
  <div class="corner-fold" ng-mouseenter="editorLayoutSvc.toggleCornerFold(true)" ng-mouseleave="editorLayoutSvc.toggleCornerFold(false)">
    <div class="corner-fold__inner panel no-overflow md-whiteframe-z4">
      <div class="corner-fold__shadow panel"></div>
    </div>
    <div ng-if="editorLayoutSvc.isCornerFoldingVisible">
      <md-button class="corner-fold__btn corner-fold__btn--left icon-call-received" md-no-ink ng-click="editorLayoutSvc.toggleStat()" aria-label="Toggle stats" title="Toggle stats">
      </md-button>
      <md-button class="corner-fold__btn corner-fold__btn--right icon-call-made" md-no-ink ng-click="editorLayoutSvc.toggleSideBar()" aria-label="Toggle side bar" title="Toggle side bar">
      </md-button>
    </div>
  </div>
</div>
<cl-discussion ng-if="editorLayoutSvc.currentControl === 'discussion'"></cl-discussion>
<cl-read-only-alert></cl-read-only-alert>
<cl-offline-alert></cl-offline-alert>
<cl-local-file-alert></cl-local-file-alert>
<cl-uri-dialog></cl-uri-dialog>
<cl-sharing-dialog></cl-sharing-dialog>
<cl-file-properties-dialog></cl-file-properties-dialog>
<cl-post-to-blog></cl-post-to-blog>
<cl-export-to-disk></cl-export-to-disk>
<cl-tour></cl-tour>
