@import 'variables';
.preview.panel {
    &.hidden {
        display: none;
    }
}

.side-bar.panel {
    right: 0;
    md-tab-content {
        overflow-x: hidden;
    }
    .md-tab {
        padding: 12px 0;
        width: 56px;
        font-size: 24px;
        .icon-toc {
            font-size: 30px;
            line-height: 22px;
        }
    }
    md-tabs {
        height: 100%;
        md-tabs-wrapper {
            border-width: 1px 0 0;
            border-style: solid;
        }
    }
    md-ink-bar {
        top: 0;
    }
}

.binder.panel {
    .header.panel {
        height: auto;
        left: 105px;
        .content {
            /* Any change here has to be done in .filename.space as well */
            position: relative;
            min-height: 45px;
            font-size: 32px;
            text-transform: uppercase;
            color: #505050;
            border-bottom: 1px solid rgba(128, 128, 128, 0.25);
            padding: 6px 8px 6px 112px;
            line-height: 1;
            text-align: right;
            letter-spacing: -0.03em;
            overflow: hidden;
        }
        .panel,
        .edit.btn-panel,
        .sharing.btn-panel {
            left: 0;
            width: 32px;
            height: 32px;
            font-size: 28px;
        }
        .panel {
            font-size: 30px;
        }
        .sharing.btn {
            left: 32px;
        }
        .edit.btn {
            left: 67px;
        }
        .btn a {
            line-height: 32px;
        }
    }
    .page.panel {
        z-index: 2; // To hide material sliders
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
        .margin.panel {
            width: 1px;
            left: $editor-margin-width;
            background-color: #FFE5E1;
        }
        .hole.panel {
            left: 18px;
            width: 18px;
            height: 18px;
            &.first {
                top: 22%;
            }
            &.second {
                bottom: 22%;
            }
        }
    }
    .editor.panel .btn-grp {
        height: 0; // prevent overlap with help button
        .btn a {
            line-height: 34px;
        }
        .close.btn {
            top: 5px;
            left: 1px;
            font-size: 27px;
        }
        .minimize.btn {
            top: 32px;
            left: 3px;
            font-size: 25px;
            a {
                line-height: 30px;
            }
        }
        .preview.btn {
            top: 59px;
            left: 1px;
            font-size: 23px;
        }
        $menu-height: 105px;
        .menu.btn {
            top: 105px;
            height: $menu-height;
            box-shadow: 3px 4px 9px -5px rgba(0, 0, 0, 0.2);
            border-top-right-radius: $border-radius-binder;
            border-bottom-right-radius: $border-radius-binder;
            .md-button {
                position: absolute;
                line-height: 34px;
                width: 100%;
                height: 100%;
                font-size: 20px;
                color: #fff;
                &:hover,
                &.md-focused {
                    background-color: transparent;
                }
                .rotate-90 {
                    position: absolute;
                    width: $menu-height;
                    height: 30px;
                    left: 30px;
                    top: 0;
                    -webkit-transform-origin: 0 0;
                    transform-origin: 0 0;
                }
            }
        }
    }
    .menu.scroller {
        overflow: auto;
        overflow-y: scroll;
    }
    .menu.content {
        padding: 20px 40px 60px;
        font-size: 16px;
        height: auto;
        color: #fff;
        .entry,
        .md-text {
            text-align: center;
        }
        .links {
            margin: 12px 12px 36px;
            a {
                color: #fff;
                text-decoration: none;
                cursor: pointer;
                line-height: 1;
                padding-bottom: 2px;
                margin-bottom: 6px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.12);
                [class^="icon-"],
                [class*=" icon-"] {
                    font-size: 26px;
                }
                .name {
                    width: 100%;
                    padding-bottom: 2px;
                }
            }
        }
        md-switch {
            margin: 7px 4px 0;
        }
    }
    .file.name {
        font-size: 20.5px;
    }
}

.corner.folding.panel {
    bottom: 0;
    right: 0;
    width: 40px;
    height: 40px;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    background-color: #eaeaea;
    cursor: pointer;
    .shadow.panel {
        width: 97px;
        background-color: #e0e0e0;
        box-shadow: inset 0px 8px 17px rgba(0, 0, 0, 0.2);
    }
}

.corner.folding.btn a {
    font-size: 28px;
    padding: 5px;
    cursor: pointer;
}

.md-cheat-sheet.btn a {
    font-size: 26px;
    padding: 4px;
}

.close-side-bar.btn {
    top: 5px;
    right: 10px;
    a {
        font-size: 26px;
        line-height: 32px;
    }
}
