.tour.panel {
    .tour.overlay {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
        z-index: 999999;
        background-color: #000;
        opacity: 0;
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.9)));
        background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.9) 100%);
        background: radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.9) 100%);
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .tour.helper {
        position: absolute;
        z-index: 9999998;
        background-color: #FFF;
        background-color: rgba(255, 255, 255, .9);
        border: 1px solid #777;
        border: 1px solid rgba(0, 0, 0, .5);
        border-radius: 4px;
        box-shadow: 0 2px 15px rgba(0, 0, 0, .4);
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .tour.step {
        z-index: 10000000;
    	padding: 24px 24px 0;
        background-color: white;
        min-width: 200px;
        max-width: 300px;
        box-shadow: 0 1px 10px rgba(0, 0, 0, .4);
        -webkit-transition: opacity 0.1s ease-out;
        transition: opacity 0.1s ease-out;
        h1 {
        	margin-top: 0;
        }
        .actions {
        	margin: 32px -16px 8px;
        }
    }
    &.show {
        .tour.overlay {
            opacity: 0.8;
        }
    }
}
