<div class="discussion panel postit no-overflow md-whiteframe-z2">
	<cl-button class="discussion btn" opacity="0.2" opacity-hover="0.3" size="30">
		<div class="mdi-content-clear" ng-click="layout.currentControl = undefined" aria-label="Close discussion"></div>
	</cl-button>
	<cl-button class="discussion btn" opacity="0.2" opacity-hover="0.3" size="30" top="30">
		<div class="mdi-action-delete" ng-click="removeDiscussion(commenting.currentDiscussion)" aria-label="Delete discussion"></div>
	</cl-button>
	<cl-button class="discussion btn" opacity="0.2" opacity-hover="0.3" size="30" bottom="30">
		<div class="mdi-navigation-arrow-back" ng-click="" aria-label="Previous discussion"></div>
	</cl-button>
	<cl-button class="discussion btn" opacity="0.2" opacity-hover="0.3" size="30" bottom="0">
		<div class="mdi-navigation-arrow-forward" ng-click="" aria-label="Next discussion"></div>
	</cl-button>
	<div class="discussion content">
	<div ng-repeat="comment in commenting.currentDiscussion.comments" class="comment">
		<span class="user">{{comment.user}}:</span>
		<span class="content">{{comment.content}}</span>
	</div>
	<cl-comment-input></cl-comment-input>
	</div>
</div>
