@import 'bourbon';

.classeur-entry {
  float: left;
  height: 220px;
  margin: 15px 0;
  position: relative;
  width: 33%;

  @media screen and (max-width: 720px) {
    width: 50%;
  }

  @media screen and (max-width: 480px) {
    float: none;
    width: auto;
  }
}

.classeur-entry--new {
  opacity: .7;

  @include transition(all 200ms cubic-bezier(.75, 0, .8, .25));

  &:hover {
    opacity: 1;
  }

  .classeur-entry__inner,
  .classeur-entry__tab {
    background-color: #e8e8e8;
  }
}

.classeur-entry__inner {
  background-color: #fff;
  cursor: pointer;
  left: 8%;
  top: 0;
  width: 84%;
}

.classeur-entry__tab {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  content: '';
  height: 40px;
  position: absolute;
  right: -10px;
  top: 0;
  width: 10px;
  z-index: -1;
}

.classeur-entry__tab--1 {
  top: 40px;
  z-index: -2;
}

.classeur-entry__tab--2 {
  top: 80px;
  z-index: -3;
}

.classeur-entry__name {
  margin: 15px 10px;

  md-input-container {
    margin: 0;
  }
}

body .classeur-entry__name-input.md-input {
  font-size: 22px;
  font-weight: 300;
  padding: 10px;
  text-align: center;

  &:disabled {
    color: rgba(0, 0, 0, .75);
    cursor: pointer;
    pointer-events: none;
  }
}

.classeur-entry__info {
  color: rgba(0, 0, 0, .35);
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.classeur-entry__icon {
  font-size: 48px;
  height: 100%;

  a {
    color: #a0a0a0;
  }
}

.classeur-entry__menu {
  bottom: 0;
  cursor: auto;
  font-size: 26px;
  height: 42px;
  text-align: center;
}

.classeur-entry__menu-btn {
  color: rgba(0, 0, 0, .55);
  display: block;
  font-size: 26px;
  height: 38px;
  margin: 2px 0;
  padding: 0;
  width: 38px;
}
