.new-user-form.panel {
    overflow: auto;
    & > * {
        max-width: 500px;
    }
    .plastic {
        overflow: auto;
        padding: 0 30px 30px;
        margin-bottom: 40px;
        border-radius: 3px;
    }
    .nav {
        & > * {
            margin: 0;
            color: #fff;
        }
        .title {
            font-size: 30px;
            width: 100%;
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 33%, transparent 0%);
            background-image: -ms-linear-gradient(left, transparent 0%, rgba(255,255,255,0.6) 100%);
            background-position: 0 bottom;
            background-size: 3px 1px;
            background-repeat: repeat-x;
        }
        .md-button {
            font-size: 26px;
            line-height: 0;
        }
    }
    .content {
        padding: 30px;
        border-radius: 6px;
        background-color: transparentize(#fff, 0.75);
    }
    .terms {
        font-size: 12px;
        margin: 40px 0;
    }
}
