.new-user-form.panel {
    overflow: auto;
    & > * {
        max-width: 500px;
    }
    .plastic-0 {
        overflow: auto;
        padding: 0 30px 30px;
        margin-bottom: 40px;
        border-radius: 3px;
    }
    .nav {
        & > * {
            margin: 0;
            color: #fff;
        }
        .title {
            font-size: 30px;
        }
        .md-button {
            font-size: 26px;
            line-height: 0;
        }
    }
    .content {
        padding: 30px;
        border-radius: 6px;
        background-color: transparentize(#fff, 0.75);
    }
    .terms {
        font-size: 12px;
        margin: 40px 0;
    }
}
