<div class="new-user-form panel background">
  <div class="navbar panel md-whiteframe-2dp" layout="row" layout-align="center">
    <div class="navbar__inner">
      <div layout="row" layout-align="space-between">
        <div layout="row">
          <div class="navbar__logo no-overflow">
          </div>
          <div class="navbar__item navbar__item--title">
            New account
          </div>
        </div>
        <md-button class="navbar__item navbar__item--icon icon-close" ng-click="close()" aria-label="Close">
        </md-button>
      </div>
    </div>
  </div>
  <div class="new-user-form__inner-1" layout="column" layout-align="center">
    <div class="new-user-form__inner-2 md-whiteframe-1dp plastic--0" layout="column" flex>
      <div class="new-user-form__inner-3">
        <md-input-container>
          <label>User name</label>
          <input autocomplete="off" ng-model="newUser.name">
        </md-input-container>
        <div class="new-user-form__terms">
          By clicking <b>Create account</b>, you agree to the <a target="_blank" href="http://classeur.io/terms/">Terms of Service</a> and confirm that you've read the <a target="_blank" href="http://classeur.io/privacy/">Privacy Policy</a>, including the "Cookies" section.
        </div>
        <div layout="row" layout-align="end">
          <md-button ng-click="create()" class="md-primary">
            Create account
          </md-button>
        </div>
      </div>
    </div>
  </div>
</div>
