<div class="new-user-form panel background" layout="column" layout-align="center center">
    <div>
        <div class="logo">
        </div>
        <div class="md-whiteframe-z2 plastic-0">
            <div class="nav" layout="row" layout-align="space-between center">
                <md-input-container md-theme="classeur">
                    <input value="New account" disabled="disabled" aria-label="New account">
                </md-input-container>
                <md-button md-no-ink ng-click="close()" aria-label="Close">
                    <span class="icon-arrow-back"></span>
                </md-button>
            </div>
            <div class="content">
                <form name="form">
                    <md-input-container>
                        <label>User name</label>
                        <input required name="name" ng-model="newUser.name" md-maxlength="64">
                        <div ng-messages="form.name.$error">
                            <div class="angular-animate" ng-message="required">This is required.</div>
                            <div class="angular-animate" ng-message="md-maxlength">That's too long.</div>
                        </div>
                    </md-input-container>
                    <div class="terms">
                        By clicking "Create account", you agree to the Terms of Service and confirm that you've read the Privacy Policy, including the "Cookies" section.
                    </div>
                </form>
                <div layout="row" layout-align="end">
                    <md-button ng-click="create()">
                        Create account
                    </md-button>
                </div>
            </div>
        </div>
    </div>
</div>
