.new-user-form,
.signin-form {
  overflow: auto;

  .navbar {
    position: fixed;
  }

  .navbar__inner {
    max-width: 440px;
    width: 100%;
  }
}

.new-user-form__inner-1,
.signin-form__inner-1 {
  margin: auto;
  max-width: 440px;
  padding: 33px 5px 50px;
}

.new-user-form__inner-2,
.signin-form__inner-2 {
  background-color: #fff;
  border-radius: 3px;
  padding: 30px 50px;
}

.new-user-form__terms {
  font-size: 12px;
  margin: 25px 0 25px;
}

.user-name {
  font-weight: 500;
  white-space: nowrap;
}

.user-name__img {
  border-radius: 1.6em;
  height: 1.6em;
  margin-right: .5em;
  vertical-align: middle;
  width: 1.6em;
}

.user-name__img--hidden {
  visibility: hidden;
}
