@import 'variables';

.editor {
  height: 100%;
  overflow: auto;
  position: absolute;
  width: 100%;
  z-index: 3;
}

.editor__inner {
  font-family: $font-family-editor;
  margin: 0;
  padding: 80px 20px 360px $editor-margin-width;
  white-space: pre-wrap;
  word-break: break-word;
  word-wrap: break-word;

  @include font-feature-settings(normal);
  * {
    line-height: 1.6;
  }

  .cledit-section {
    font-family: inherit;
  }

  .discussion-highlight,
  .find-replace-highlight {
    background-color: transparentize(#ffe400, .5);
  }

  .hide {
    display: none;
  }

  &.monospaced {
    // scss-lint:disable ImportantRule
    font-family: $font-family-monospace !important;
    font-size: $font-size-monospace !important;

    * {
      font-size: inherit !important;
    }
  }
}

.preview {
  height: 100%;
  overflow: auto;
  overflow-y: scroll;
  position: absolute;
  width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  * {
    line-height: 1.5;
  }

  img,
  table {
    max-width: 100%;
  }
}

.preview__inner {
  margin: 0;
  padding: 0 1020px 360px 1050px;

  .cl-preview-section > :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
    text-align: justify;
  }

  // scss-lint:disable SelectorFormat
  .MathJax {
    -webkit-font-smoothing: antialiased;
  }
}

.toc-tab {
  color: rgba(0, 0, 0, .75);
  cursor: pointer;
  font-size: 9px;
  padding: 15px 30px;
  white-space: nowrap;

  @include user-select(none);

  * {
    font-weight: inherit;
  }

  .cl-toc-section * {
    margin: .3em 0;
  }

  h2 {
    padding-left: 8px;
  }

  h3 {
    padding-left: 16px;
  }

  h4 {
    padding-left: 24px;
  }

  h5 {
    padding-left: 32px;
  }

  h6 {
    padding-left: 40px;
  }
}

.toc-tab--empty::before {
  content: 'No table of contents available.';
  font-size: 14px;
}
