.toc.content {
	font-size: 9px;
	color: #4a4a4a;
	text-shadow: 0 1px #e8e8e8;
	cursor: pointer;
	padding: 30px;
	white-space: nowrap;
	* {
		font-weight: normal;
	}
	.classeur-toc-section * {
		margin: .55em 0;
	}
	h2 {
		padding-left: 5px;
	}
	h3 {
		padding-left: 10px;
	}
	h4 {
		padding-left: 15px;
	}
	h5 {
		padding-left: 20px;
	}
	h6 {
		padding-left: 25px;
	}
}
