.stat.panel {
    background-color: transparentize(#d8d8d8, 0.1);
	text-shadow: 0 1px white;
    color: #444;
    bottom: 0;
    height: 20px;
    font-size: 12px;
    div {
    	position: relative;
    	display: inline-block;
    	margin: 3px;
		.name {
			font-weight: bold;
			margin: 0 10px;
		}
		.value {
			font-weight: bold;
		}
    }
}

