<md-dialog class="payment-dialog">
  <md-dialog-content>
    <h2>Upgrade to premium</h2>
    <md-button class="payment-dialog__option md-primary" ng-click="choose('yearlyPayment')">
      $3 <small>/month</small>
      <div class="payment-dialog__info">&mdash; 1-year bill</div>
    </md-button>
    <md-button class="payment-dialog__option md-primary" ng-click="choose('quarterlyPayment')">
      $4 <small>/month</small>
      <div class="payment-dialog__info">&mdash; 3-month bill</div>
    </md-button>
    <md-button class="payment-dialog__option md-primary" ng-click="choose('subscribe')">
      $5 <small>/month</small>
      <div class="payment-dialog__info">&mdash; Monthly subscription</div>
    </md-button>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-href="#!/choosePlan" ng-click="cancel()">
      Compare plans...
    </md-button>
    <md-button ng-click="cancel()" class="md-primary">
      Cancel
    </md-button>
  </md-dialog-actions>
</md-dialog>
