.plan.chooser {
    height: 100%;
    overflow: auto;
    .container {
        margin: auto;
        max-width: 840px;
        padding: 0 5px;
    }
    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        .icon {
            font-size: 20px;
            line-height: 16px;
        }
    }
    .logo {
        width: 180px;
        height: 64px;
        background-image: url('assets/images/logo.png');
        background-size: 180px 60px;
    }
    .scroller {
        overflow: auto;
    }
    .menu {
        margin: 0 -5px;
        padding: 0 5px;
        border-top: 1px solid rgba(128, 128, 128, 0.2);
        .md-button {
            padding: 8px;
        }
    }
    .title {
        text-align: center;
        font-size: 42px;
        font-weight: 300;
        margin: 40px 0;
    }
    .plan.item {
        position: relative;
        background-color: #fbfbfb;
        margin: 0 -5px 50px;
        height: 530px;
        text-align: center;
        .header {
            margin-bottom: 30px;
            background-color: #ebebeb;
            height: 175px;
        }
        &.premium {
            z-index: 1;
            height: 560px;
            margin-top: -15px;
            background-color: #fff;
            .header {
                background-color: #3EB8A4;
                color: #fff;
                height: 190px;
            }
        }
        .name {
            font-size: 24px;
            font-weight: 300;
            margin-bottom: 15px;
            &.big {
                margin-top: 15px;
                font-size: 26px;
            }
        }
        .price {
            font-size: 44px;
            line-height: 1;
        }
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            font-size: 14px;
            padding: 8px 15px;
            list-style-type: none;
            line-height: 1.3;
        }
        .md-button {
            font-size: 22px;
            padding: 10px 15px;
            margin: 15px;
            display: block;
            .info {
                padding-top: 6px;
                text-transform: none;
                font-size: 14px;
            }
        }
    }
    .info {
        text-align: center;
    }
}
