.plan-chooser {
  overflow: auto;

  @media (min-width: 600px) {
    .perspective {
      perspective: 1500px;
    }

    .plan-entry {
      width: auto;
    }
  }

  .navbar {
    position: fixed;
  }

  .navbar__inner {
    max-width: 900px;
    width: 100%;
  }
}

.plan-chooser__inner {
  margin: auto;
  max-width: 900px;
  padding: 100px 5px 0;
}

$plan-entry-border-radius: 3px;

.plan-entry {
  background-color: #fff;
  border-radius: $plan-entry-border-radius;
  border-top-style: solid;
  border-top-width: $plan-entry-border-radius;
  height: 510px;
  margin: 0 -8px 60px;
  position: relative;
  text-align: center;
  width: 90%;

  small {
    color: rgba(0, 0, 0, 0.33);
    font-size: 12px;
  }
}

.plan-entry__header {
  height: 180px;
  margin-top: 10px;
}

.plan-entry__name {
  font-size: 24px;
  margin-bottom: 8px;
}

.plan-entry__price {
  font-size: 46px;
  line-height: 1.2;
}

.plan-entry__body {
  h2 {
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }
}

.plan-entry__items {
  margin: 0;
  padding: 0;

  li {
    font-size: 14px;
    line-height: 1.3;
    list-style-type: none;
    padding: 8px 12px;
  }
}

.plan-entry__button {
  display: block;
  font-size: 22px;
  margin: 15px;
  padding: 15px;
}

.plan-entry__button-info {
  font-size: 14px;
  padding-top: 6px;
  text-transform: none;
}

.plan-entry--standard {
  transform: rotateY(8deg);
}

.plan-entry--enterprise {
  transform: rotateY(-8deg);
}

.plan-entry--premium {
  height: 530px;
  margin-top: -15px;
  z-index: 1;
}

.plan-info {
  margin: 30px auto 120px;
  max-width: 400px;
  padding: 30px;
  text-align: center;
}

.plan-info__button {
  color: rgba(0, 0, 0, 0.35);
  display: block;
  font-size: 1.2em;
  line-height: 1.8;

  .plan-info__button-icon {
    font-size: 2.2em;
    &::before {
      line-height: 1;
    }
  }
}

.payment-dialog__option {
  display: block;
  font-size: 2em;
  font-weight: 400;
  line-height: 1.35;
  margin: 10px;
  text-align: left;
  text-transform: none;
  width: 260px;

  small {
    font-size: 0.5em;
    font-weight: 300;
  }
}

.payment-dialog__info {
  font-size: 12px;
  font-weight: 300;
  text-transform: none;
}
