<div class="plan-chooser panel background">
  <div class="navbar panel md-whiteframe-1dp" layout="row" layout-align="center">
    <div class="navbar__inner">
      <div layout="row" layout-align="space-between">
        <div layout="row">
          <div class="navbar__logo no-overflow">
          </div>
          <div class="navbar__item navbar__item--title">
            Pricing
          </div>
        </div>
        <md-button class="navbar__item navbar__item--icon icon-close" ng-href="#!/" aria-label="Close">
        </md-button>
      </div>
    </div>
  </div>
  <div class="plan-chooser__inner" layout="column" layout-align="center">
    <div class="perspective" layout-gt-xs="row" layout="column" layout-align="center center">
      <div class="plan-entry plan-entry--standard md-whiteframe-z1 plastic-4" layout="column" flex>
        <div class="plan-entry__header" layout="column" layout-align="center center">
          <div class="plan-entry__name">
            Standard
          </div>
          <div class="plan-entry__price">
            Free
          </div>
        </div>
        <div class="plan-entry__body" flex layout="column">
          <ul class="plan-entry__items" flex>
            <li>Unlimited files and folders</li>
            <li>Share publicly</li>
            <li>1 blog</li>
            <li>Unlimited blog posts</li>
            <li>Export to PDF, Word, EPUB (5KB content limit)</li>
            <li><a target="_blank" href="http://classeur.io/help/rest-api/">REST API</a> (read only)</li>
          </ul>
          <md-button class="plan-entry__button" md-no-ink ng-if="::!userSvc.user" ng-click="userSvc.startOAuth()">
            <div>Sign in</div>
            <div class="plan-entry__button-info">with Google</div>
          </md-button>
          <md-button class="plan-entry__button" md-no-ink ng-if="::unsubscribe" ng-click="unsubscribe()">
            Select
          </md-button>
        </div>
      </div>
      <div class="plan-entry plan-entry--premium md-whiteframe-z5 plastic-0" layout="column" flex>
        <div class="plan-entry__header" layout="column" layout-align="center center">
          <div class="plan-entry__name">
            Premium
          </div>
          <div class="plan-entry__price">
            $5
          </div>
          <div>
            per month
          </div>
        </div>
        <div class="plan-entry__body" flex layout="column">
          <ul class="plan-entry__items" flex>
            <li>Unlimited files and folders</li>
            <li>Share publicly</li>
            <li><b>Real-time collaboration</b></li>
            <li><b>Unlimited blogs and posts</b></li>
            <li>Export to PDF, Word, EPUB <b>(no content limit)</b></li>
            <li><a target="_blank" href="http://classeur.io/help/rest-api/">REST API</a> (read/write coming soon)</li>
          </ul>
          <md-button class="plan-entry__button" ng-if="::!userSvc.user" ng-click="userSvc.startOAuth()">
            <div>Sign in</div>
            <div class="plan-entry__button-info">with Google</div>
          </md-button>
          <md-button class="plan-entry__button" ng-if="::subscribeLink" ng-href="{{::subscribeLink}}">
            <div>Subscribe</div>
            <div class="plan-entry__button-info">with PayPal</div>
          </md-button>
          <md-button class="plan-entry__button" ng-if="::unsubscribe" ng-click="unsubscribe()">
            Unsubscribe
          </md-button>
        </div>
      </div>
      <div class="plan-entry plan-entry--enterprise md-whiteframe-z1 plastic-1" layout="column" flex>
        <div class="plan-entry__header" layout="column" layout-align="center center">
          <div class="plan-entry__name">
            Enterprise
          </div>
          <div>
            starting at
          </div>
          <div class="plan-entry__price">
            $1,800
          </div>
          <div>
            per year
          </div>
        </div>
        <div class="plan-entry__body" flex layout="column">
          <ul class="plan-entry__items" flex>
            <li><b>On-premises or Cloud deployment</b></li>
            <li><b>Google Apps or LDAP/AD login</b></li>
            <li><b>Internal or external DB</b></li>
            <li><b>Automatic backup</b></li>
            <li><b>Admin console</b></li>
            <li><b>Support</b></li>
          </ul>
          <md-button class="plan-entry__button" md-no-ink target="_blank" ng-href="http://classeur.io/help/enterprise/">
            Get started
          </md-button>
        </div>
      </div>
    </div>
    <div class="plan-info plan-info--discount md-whiteframe-z1 warning">
      <p>
        We offer discounts for large organizations, universities, non-profits...
      </p>
      <md-button class="plan-info__button md-primary" href="mailto:contact@classeur.io">
        <div class="plan-info__button-icon icon-email"></div>
        contact us
      </md-button>
    </div>
  </div>
</div>
