<div class="plan-chooser panel background">
  <div class="navbar panel md-whiteframe-2dp" layout="row" layout-align="center">
    <div class="navbar__inner">
      <div layout="row" layout-align="space-between">
        <div layout="row">
          <div class="navbar__logo no-overflow"></div>
          <div class="navbar__item navbar__item--title">
            Pricing
          </div>
        </div>
        <md-button class="navbar__item navbar__item--icon icon-close" ng-href="#!/" aria-label="Close"></md-button>
      </div>
    </div>
  </div>
  <div class="plan-chooser__inner" layout="column" layout-align="center">
    <div class="perspective" layout-gt-xs="row" layout="column" layout-align="center center">
      <div class="plan-entry plan-entry--standard plastic--border plastic--1 md-whiteframe-z1" layout="column" flex>
        <div class="plan-entry__header" layout="column" layout-align="center center">
          <div class="plan-entry__name">
            Standard
          </div>
          <div class="plan-entry__price">
            Free
          </div>
        </div>
        <div class="plan-entry__body" flex layout="column">
          <ul class="plan-entry__items" flex>
            <li>100 files</li>
            <li>File sharing</li>
            <li>Real-time collaboration</li>
            <li>Unlimited blogs and posts</li>
            <li>Export to PDF, Word, EPUB</li>
            <li>
              <a target="_blank" href="http://classeur.io/help/rest-api/">REST API</a>
            </li>
          </ul>
          <md-button class="plan-entry__button" md-no-ink ng-if="::!userSvc.user" ng-click="userSvc.startOAuth()">
            <div>Sign in</div>
            <div class="plan-entry__button-info">with Google</div>
          </md-button>
          <md-button class="plan-entry__button" md-no-ink ng-if="::unsubscribe" ng-click="unsubscribe()">
            Select
          </md-button>
        </div>
      </div>
      <div class="plan-entry plan-entry--premium plastic--border plastic--7 md-whiteframe-z3" layout="column" flex>
        <div class="plan-entry__header" layout="column" layout-align="center center">
          <div class="plan-entry__name">
            Premium
          </div>
          <div class="plan-entry__price">
            $3
          </div>
          <div>
            per month*
          </div>
          <small>
            *Billed annually
          </small>
        </div>
        <div class="plan-entry__body" flex layout="column" layout-align="space-between">
          <h2>Unlimited files</h2>
          <md-button class="plan-entry__button" ng-if="::!userSvc.user" ng-click="userSvc.startOAuth()">
            <div>Sign in</div>
            <div class="plan-entry__button-info">with Google</div>
          </md-button>
          <md-button class="plan-entry__button" ng-if="::upgradeToPremium" ng-click="upgradeToPremium()">
            <div>Upgrade</div>
          </md-button>
          <md-button class="plan-entry__button" ng-if="::unsubscribe" ng-click="unsubscribe()">
            Unsubscribe
          </md-button>
        </div>
      </div>
      <div class="plan-entry plan-entry--enterprise plastic--border plastic--2 md-whiteframe-z1" layout="column" flex>
        <div class="plan-entry__header" layout="column" layout-align="center center">
          <div class="plan-entry__name">
            Enterprise
          </div>
          <div class="plan-entry__price">
            $60
          </div>
          <div>
            per user/year
          </div>
        </div>
        <div class="plan-entry__body" flex layout="column">
          <ul class="plan-entry__items" flex>
            <li>On-premises or Cloud deployment</li>
            <li>Google Apps or LDAP/AD login</li>
            <li>Internal or external DB</li>
            <li>Automatic backup</li>
            <li>Admin console</li>
            <li>Support</li>
          </ul>
          <md-button class="plan-entry__button" md-no-ink target="_blank" ng-href="https://classeur.zendesk.com/hc/en-us/articles/208399869">
            Get started
          </md-button>
        </div>
      </div>
    </div>
    <div class="plan-info plan-info--discount warning">
      <p>
        We offer discounts for large organizations, universities, non-profits...
      </p>
      <md-button class="plan-info__button md-primary" href="mailto:contact@classeur.io">
        <div class="plan-info__button-icon icon-email"></div>
        contact us
      </md-button>
    </div>
    <div class="footer" layout="row" layout-align="space-between">
      <div layout="row">
        <md-button class="footer__button" target="_blank" ng-href="http://classeur.io/privacy/">
          Privacy
        </md-button>
        <md-button class="footer__button" target="_blank" ng-href="http://classeur.io/terms/">
          Terms
        </md-button>
      </div>
      <div layout="row">
        <md-button class="footer__icon icon-twitter" target="_blank" ng-href="https://twitter.com/classeurapp" aria-label="Twitter"></md-button>
        <md-button class="footer__icon icon-facebook" target="_blank" ng-href="https://www.facebook.com/classeurapp" aria-label="Facebook"></md-button>
        <md-button class="footer__icon icon-github" target="_blank" ng-href="https://github.com/classeur/classeur" aria-label="GitHub"></md-button>
      </div>
    </div>
  </div>
</div>
