.plan.chooser {
    height: 100%;
    overflow: auto;
    .container {
        margin: auto;
        max-width: 900px;
        padding: 0 20px;
    }
    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        color: rgba(0, 0, 0, 0.75);
        .icon {
            font-size: 23px;
            line-height: 16px;
        }
    }
    .logo {
        width: 180px;
        height: 64px;
        background-image: url('assets/images/logo.png');
        background-size: 180px 60px;
        background-repeat: no-repeat;
    }
    .icon-close {
        font-size: 28px;
    }
    .scroller {
        overflow: auto;
    }
    .menu {
        margin: 0 -5px;
        padding: 0 5px;
        border-top: 1px solid rgba(128, 128, 128, 0.2);
        .md-button {
            padding: 10px;
        }
    }
    .title {
        text-align: center;
        font-size: 46px;
        font-weight: 300;
        margin: 40px 0 60px;
    }
    @media (min-width: 600px) {
        .perspective {
            perspective: 1000px;
        }
    }
    .plan.item {
        position: relative;
        background-color: #fbfbfb;
        margin: 0 -8px 60px;
        height: 530px;
        text-align: center;
        padding: 0 10px 10px;
        border-radius: 3px;
        .header {
            color: #fff;
            text-shadow: 1px 1px rgba(0,0,0,0.067);
            font-weight: normal;
            height: 175px;
        }
        .body {
            padding-top: 20px;
            border-radius: 4px;
            background-color: rgba(255, 255, 255, 0.25);
        }
        .name {
            font-size: 24px;
            font-weight: 300;
            margin-bottom: 15px;
        }
        .price {
            font-size: 44px;
            line-height: 1;
        }
        &.standard {
            transform: rotateY(8deg);
        }
        &.enterprise {
            transform: rotateY(-8deg);
            font-size: 14px;
            .name {
                margin-bottom: 10px;
            }
            .price {
                font-size: 36px;
            }
        }
        &.premium {
            z-index: 1;
            height: 560px;
            margin-top: -15px;
            .header {
                height: 190px;
            }
        }
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            font-size: 14px;
            padding: 8px 12px;
            list-style-type: none;
            line-height: 1.3;
        }
        .md-button {
            font-size: 22px;
            padding: 10px 15px;
            margin: 15px;
            display: block;
            .info {
                padding-top: 6px;
                text-transform: none;
                font-size: 14px;
            }
        }
    }
    .info {
        text-align: center;
    }
    .discount {
        background-color: #fff;
        padding: 30px;
        margin: 30px auto 120px;
        width: 400px;
        text-align: center;
        .md-button {
            display: block;
            line-height: 1.8;
            font-size: 20px;
            .icon {
                font-size: 50px;
            }
        }
    }
}
