.sys-page {
  overflow: auto;

  .navbar {
    position: fixed;
  }

  .navbar__inner {
    max-width: 580px;
    width: 100%;
  }
}

.sys-page__inner {
  margin: auto;
  max-width: 580px;
  padding: 40px 5px 100px;
}

.sys-page__entry {
  margin-bottom: 10px;
}

.sys-page__entry-input {
  margin: 0 5px;
  width: 260px;
}
