@import 'variables';
$highlighting-color: rgb(255, 226, 79);
.editor.content .discussion-highlighting {
    background-color: transparentize($highlighting-color, 0.6);
    -webkit-transition: 0.12s ease-out background-color;
    transition: 0.12s ease-out background-color;
    padding: 0.2em 0;
    cursor: pointer;
    &.hover, &.selected {
        background-color: transparentize($highlighting-color, 0.2);
    }
}

.new-discussion-btn {
    font-size: 25px;
    background-color: #fff;
    border-radius: 3px;
    a {
        color: nth($plastic-colors, 2);
    }
}
