<md-button class="discussion-item__show-more" ng-if="hasMore" ng-click="showMore()">Show more...</md-button>
<div ng-repeat="comment in comments track by comment.id" class="comment-entry">
  <div class="comment-info">
    <cl-user-name class="comment-info__user-name" user-id="comment.userId"></cl-user-name>
    <span class="comment-info__created">{{comment.created | clTimeSince:minuteCounter}}</span>
  </div>
  <div class="comment-entry__inner" layout="row" layout-align="space-between start">
    <md-button class="comment-entry__delete-btn icon-delete" nd-no-ink ng-click="deleteComment(comment.id)" aria-label="Delete discussion"></md-button>
    <div class="comment-entry__text comment-text" ng-bind-html="comment.text | clConvertMarkdown"></div>
  </div>
</div>
<div class="comment-entry">
  <div ng-show="userSvc.user">
    <div class="comment-info">
      <cl-user-name class="comment-info__user-name" user-id="userSvc.user.id"></cl-user-name>
    </div>
    <pre class="comment-entry__input md-highlighting md-whiteframe-z2"></pre>
    <div layout="row" layout-align="end">
      <md-button class="md-primary" ng-click="deleteDiscussion()" aria-label="Delete discussion">Delete</md-button>
      <md-button class="md-primary" ng-click="addComment()">Add</md-button>
    </div>
  </div>
  <div ng-if="!userSvc.user">
    <p class="warning">
      Please sign in to add a comment.
    </p>
    <md-button class="md-primary" ng-click="userSvc.startOAuth()" ng-if="!config.loginForm">
      Sign in with Google
    </md-button>
    <md-button class="md-primary" ng-href="#!/signin" ng-if="config.loginForm">
      Sign in
    </md-button>
  </div>
</div>
