@import 'variables';
$highlighting-color: rgb(255, 226, 79);
.editor.content .discussion-highlighting {
    background-color: mix(#fff, $highlighting-color, 60%);
    -webkit-transition: 0.12s ease-out background-color;
    transition: 0.12s ease-out background-color;
    padding: 0.25em 0;
    cursor: pointer;
    &.hover, &.selected {
        background-color: mix(#fff, $highlighting-color, 20%);
    }
}

.new-discussion-btn {
    font-size: 25px;
    background-color: #fff;
    border-radius: 3px;
    a {
        color: nth($plastic-colors, 2);
    }
}

.discussion.tab {
    padding: 25px;
}

.discussion.item {
    margin: 15px 0;
    border-bottom: 1px solid #b0b0b0;
    a.icon-delete {
        color: inherit;
        text-align: center;
        cursor: pointer;
        -webkit-transition: 0.16s ease-out opacity;
        transition: 0.16s ease-out opacity;
        opacity: 0.3;
        &:hover {
            opacity: 0.6;
        }
    }
    .discussion.text {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        span {
            font-size: inherit !important;
            background-color: transparent;
        }
        & > span {
            background-color: mix($background-color, $highlighting-color, 20%);
            padding: 0.2em 0;
        }
    }
    .discussion.selector {
        cursor: pointer;
        -webkit-transition: 0.12s ease-out opacity;
        transition: 0.12s ease-out opacity;
        opacity: 0.65;
        &.selected .discussion.text {
            white-space: normal;
        }
        &.selected,
        &:hover {
            opacity: 1;
        }
        a.icon-delete {
            font-size: 24px;
            padding-left: 5px;
        }
    }
    pre.md-highlighting {
        font-size: 0.9em;
        background-color: #fff;
        padding: 4px 8px;
        margin: 5px 0 5px 20px;
        min-height: 60px;
        overflow: auto;
        white-space: pre-wrap;
        word-wrap: break-word;
        word-break: normal;
        .h1, .h11, .h2, .h22, .h3, .h4, .h5, .h6 {
            font-size: inherit;
        }
    }
    .comment.info {
        margin: 5px 0;
        text-shadow: 0 1px #E8E8E8;
        .icon-chat {
            position: relative;
            top: -0.5em;
            font-size: 0.8em;
        }
        .username {
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
        }
        .created {
            padding-left: 15px;
            color: rgba(0, 0, 0, 0.5);
            font-size: 0.7em;
        }
    }
    .comment.item {
        margin: 10px 0;
        .comment.text {
            border-bottom: 1px solid #c0c0c0;
            padding-bottom: 10px;
            font-size: 14px;
            * {
                margin: 0;
            }
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-size: inherit;
            }
            pre {
                white-space: pre-wrap;
                word-wrap: break-word;
                word-break: normal;
            }
        }
        a.icon-delete {
            opacity: 0;
            font-size: 18px;
            padding-right: 5px;
        }
        &:hover a.icon-delete {
            opacity: 0.3;
            &:hover {
                opacity: 0.6;
            }
        }
    }
    .md-chips {
        padding: 0;
    }
    .md-chip {
        margin: 0 0 0 5px;
    }
}
