<div class="discussion item" ng-class="{selected: discussionSvc.currentDiscussion === discussion}">
    <div class="discussion selector" ng-click="selectDiscussion()">
        <div layout="row" layout-align="space-between start">
            <div class="discussion text md-highlighting" flex>
                <a class="icon-delete" ng-click="deleteDiscussion(); $event.stopPropagation();" aria-label="Delete discussion" ng-if="discussionSvc.currentDiscussion === discussion"></a>
                <span ng-bind-html="discussion.text | clHighlightMarkdown:editorSvc.prismGrammar"></span>
            </div>
            <md-chips ng-model="chips" readonly="true" ng-if="discussionSvc.currentDiscussion !== discussion"></md-chips>
        </div>
        <div class="comment info" layout="row" layout-align="start end" ng-if="discussionSvc.currentDiscussion !== discussion">
            <div class="comment username" flex>{{lastComment.userId | clUserName:userInfoSvc.lastUserInfo}}</div>
            <div class="comment created">{{lastComment.created | clTimeSince}}</div>
        </div>
    </div>
    <cl-discussion-comment-list ng-if="discussionSvc.currentDiscussion === discussion"></cl-discussion-comment-list>
</div>
