<div class="comment list">
    <div ng-repeat="comment in comments track by comment.id" class="comment item">
        <div class="comment info">
            <cl-user-name user-id="comment.userId"></cl-user-name>
            <span class="created">{{comment.created | clTimeSince}}</span>
        </div>
        <div class="comment content" layout="row" layout-align="space-between start">
            <a class="icon-delete" ng-click="deleteComment(comment.id)" aria-label="Delete discussion"></a>
            <div class="comment text" ng-bind-html="comment.text | clConvertMarkdown"></div>
        </div>
    </div>
    <div class="comment item">
        <div ng-show="userSvc.user">
            <div class="comment info">
                <cl-user-name user-id="userSvc.user.id"></cl-user-name>
            </div>
            <pre class="discussion comment md-highlighting md-whiteframe-z2"></pre>
            <div layout="row" layout-align="end">
                <md-button class="md-primary" ng-click="addComment()">Add</md-button>
            </div>
        </div>
        <div ng-if="!userSvc.user">
            <p class="warning">
                Please sign in to add a comment.
            </p>
            <md-button class="md-primary" ng-click="userSvc.startOAuth()" ng-if="!config.loginForm">
                Sign in with Google
            </md-button>
            <md-button class="md-primary" ng-href="#!/signin" ng-if="config.loginForm">
                Sign in
            </md-button>
        </div>
    </div>
</div>
