@import 'variables';
.update.posts.button {
    top: 230px;
    right: -30px;
    height: 48px;
    width: 50px;
    background-color: #c8c8c8;
    border-radius: 8px;
    button {
        position: absolute;
        line-height: 50px;
        width: 100%;
        height: 100%;
        font-size: 22px;
        text-transform: none;
        color: transparentize(#fff, 0.2);
        &:hover {
            color: #fff;
            background-color: transparent;
        }
        &[disabled] {
            color: #fff;
            opacity: 0.5;
        }
    }
    .rotate-90 {
        position: absolute;
        width: 48px;
        height: 50px;
        left: 50px;
        top: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
}

.blog.post.dialog {
    min-width: 340px;
    md-input-container {
        padding-bottom: 8px;
    }
}
