@import 'variables';

.cledit-section::before {
  color: transparentize(#000, 0.75);
  content: '\e715';
  cursor: pointer;
  display: none;
  font-family: icomoon;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  left: ($editor-margin-width + 1000 - 20);
  line-height: 1;
  position: absolute;
  text-transform: none;
}

.folding--hover::before {
  display: block;
}

.folding--folded::before {
  content: '\e6ff';
  display: block;
}
