@import 'variables';

.user-cursor {
  &::after {
    border-radius: 2px;
    color: #fff;
    font-family: $font-family;
    font-size: 10px;
    font-weight: 500;
    line-height: 1;
    margin-left: -2px;
    margin-top: -4px;
    padding: 2px 3px;
    position: absolute;
    word-break: keep-all;
  }
}
