.export-to-disk.dialog {
    min-width: 360px;
    .md-select-label {
        padding-top: 0;
    }
    .options {
        margin-left: 50px;
        .label {
            font-size: 12.5px;
            padding: 2px;
            display: block;
            color: rgba(0, 0, 0, 0.54);
        }
        textarea {
            max-height: 85px;
            font-size: 14px;
            line-height: inherit;
        }
    }
}
