@import 'variables';
.new-comment-btn {
    font-size: 25px;
    width: 28px;
    height: 25px;
    background-color: #fff;
    border-radius: 3px;
    &.hide {
    	display: none;
    }
    a {
        color: nth($plastic-colors, 2);
    }
}
