@import 'variables';
@import 'bourbon';

.markdown-sample-tab {
  margin: 30px 10px 40px 25px;
}

.markdown-sample-tab__inner {
  font-size: .9em;
  font-variant-ligatures: no-common-ligatures;
  line-height: 1.25;
  white-space: pre-wrap;
  word-break: break-word;
  word-wrap: break-word;

  .code,
  .img,
  .imgref,
  .cl-toc {
    background-color: rgba(0, 0, 0, .05);
  }
}
