.template-dialog {
  min-width: 360px;

  .prism--editor {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    min-height: 120px;
    overflow: auto;
    width: 100%;
    word-wrap: normal;
  }
}

.template-dialog__example {
  padding-left: 30px;
}
