<md-dialog class="warning-dialog">
  <md-dialog-content>
    <h2>Classeur is closing</h2>
    <p>
      Classeur will be shutting down on 2018/05/31. You can <a href="javascript:void(0)" ng-click="makeBackup()">backup your files</a> and import them in <a href="https://stackedit.io/app" target="_blank">StackEdit</a> under <code>Menu &gt; More</code>.
    </p>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button ng-click="close()" class="md-primary">
      Ok
    </md-button>
  </md-dialog-actions>
</md-dialog>
