$ced-color: #555;
$font-family-monospace: "Inconsolata", monospace;
$font-size-monospace: 1em;
$ced-color-lighter: transparentize($ced-color, 0.6);
$ced-color-light: transparentize($ced-color, 0.4);
$ced-color-dark: darken($ced-color, 15%);
$code-bg: #eee;
$border-radius-base: 4px;

html p, body p {
	line-height: 1.6;
}

code, kbd, pre, samp {
	font-family: $font-family-monospace;
	font-size: $font-size-monospace;
}

blockquote {
	font-weight: 300;
}

code {
	padding: 2px 4px;
	background-color: $code-bg;
	border-radius: $border-radius-base;
}

hr {
	border: 0;
	border-top: 1px solid rgba(128,128,128,0.2);
}

.editor {
	.code,
	.pre {
		color: $ced-color-dark;
		font: normal $font-size-monospace $font-family-monospace;
	}

	.tag {
		color: $ced-color-dark;
		font: bold $font-size-monospace $font-family-monospace;
		.punctuation,
		.attr-value,
		.attr-name {
			font-weight: normal;
		}
	}

	.latex, .math {
		color: $ced-color;
	}

	.entity {
		font: italic $font-size-monospace $font-family-monospace;
		color: $ced-color;
	}

	.table {
		font: normal $font-size-monospace $font-family-monospace;
		* {
			font-size: 1em;
		}
	}

	.comment {
		color: $ced-color-lighter;
	}

	.keyword {
		color: $ced-color-dark;
		font-weight: bold;
	}

	.code, .img, .imgref, .md-toc {
		background-color: $code-bg;
		border-radius: $border-radius-base;
		padding: 0.15em 0;
	}

	.md-toc {
		font-size: 2.5em;
		padding: 0.2em;
	}

	.link, .linkref {
		.md-underlined-text {
			color: inherit;
		}
	}

	.blockquote {
		font-weight: 300;
	}

	.h1, .h2, .h3, .h4, .h5, .h6 {
		font-weight: 600;
	}

	.h1, .h11 { font-size: 2em; }
	.h2, .h22 { font-size: 1.5em; }
	.h3 { font-size: 1.17em; }
	.h4 { font-size: 1em; }
	.h5 { font-size: 0.83em; }
	.h6 { font-size: 0.75em; }

	.md-hash {
		color: $ced-color-lighter;
	}

	.md, .hr {
		color: $ced-color-lighter;
		font-style: normal;
		font-weight: normal
	}

	.em,
	.em .md {
		font-style: italic;
	}

	.strong,
	.strong .md {
		font-weight: bold;
	}

	.md-strike-text {
		text-decoration: line-through
	}

	.url,
	.email,
	.md-underlined-text {
		text-decoration: underline;
	}

	.linkdef .url {
		color: $ced-color-lighter;
	}

	.img,
	.imgref {
		padding: 0.2em 0.4em;
		padding-right: 0;
	}

	.md-bang,
	.md-alt,
	.md-title {
		color: $ced-color-lighter;
	}

	.hide {
		display: block;
		overflow: hidden;
		height: 0;
	}
}
