@import '../bower_components/angular-material/angular-material.css';
@import '../bower_components/highlightjs/styles/default.css';
@import '../bower_components/google-code-prettify/src/prettify.css';

$material-font-path: "../bower_components/bootstrap-material-design/fonts";
$plastic-color-0: #6BC3F7;
$plastic-color-1: #EFD06D;
$plastic-color-2: #6ED0BF;
$plastic-color-3: #F7A1B0;
$plastic-color-98: #999;
$plastic-color-99: #C0C0C0;
$link-color: #3f51b5;
$editor-margin-width: 120px;

@import 'roboto-draft';
@import 'icons-material-design';
@import '../app/core/button/button';
@import '../app/core/explorerLayout/explorerLayout';
@import '../app/core/editor/editor';
@import '../app/core/editor/preview';
@import '../app/core/editor/toc';
@import '../app/core/editorLayout/editorLayout';
@import '../app/extensions/btnBar/btnBar';
@import '../app/extensions/commenting/commenting';
@import '../app/extensions/fileDragging/fileDragging';
@import '../app/extensions/fileTitle/fileTitle';
@import '../app/extensions/readOnlyAlert/readOnlyAlert';
@import '../app/extensions/urlDialog/urlDialog';
@import '../app/extensions/folding/folding';
@import '../app/extensions/stat/stat';
@import 'material';

body {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #ccc;
}

.panel {
	position: absolute;
	width: 100%;
	height: 100%;
}

.no-overflow {
	overflow: hidden;
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.background {
	background-color: #F8F8F8;
}

.paper {
	background-color: #fff;
}

.plastic, .plastic-0 {
	background-color: $plastic-color-0;
}

.plastic-1 {
	background-color: $plastic-color-1;
}

.plastic-2 {
	background-color: $plastic-color-2;
}

.plastic-3 {
	background-color: $plastic-color-3;
}

.plastic-98 {
	background-color: $plastic-color-98;
}

.plastic-99 {
	background-color: $plastic-color-99;
}

.hole {
	box-shadow: inset 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
	border-radius: 10px;
}

.postit {
	background-color: #FFF7B2;
	cursor: move;
}

.gutter {
	position: absolute;
	top: 0;
	width: $editor-margin-width;
	div {
		position: absolute;
		cursor: pointer;
		color: transparentize(#000, 0.75);
		&:hover {
			color: transparentize(#000, 0.6);
		}
	}
}

.margin {
	background-color: #FFE5E1;
}

.rotate-90 {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.rotate-180 {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.rotate-270 {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}

