@import '../../bower_components/angular-material/angular-material.css';
@import '../../bower_components/famous-angular/dist/famous-angular.css';

$material-font-path: "../../bower_components/bootstrap-material-design/fonts";
@import '_icons-material-design.scss';
@import '_ced.scss';
$plastic-color: #64BDEB;
$clip-color: #424140;

fa-app {
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

.background {
	background-color: #FAF8F6;
}

.paper {
	background-color: #fff;
}

.plastic {
	background-color: $plastic-color;
}

.label {
	box-shadow: 2px 4px 9px -4px rgba(0, 0, 0, 0.2);
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
}

.hole {
	box-shadow: inset 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
	border-radius: 10px;
}

.clip {
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	background-color: $clip-color;
}

.editor-container, .editor, .preview, .menu {
	margin: 0;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

.editor-container {
	overflow: hidden;
	font-size: 18px;
	&.font-size-2 {
		font-size: 17px;
	}
	&.font-size-1 {
		font-size: 16px;
	}
}

.editor {
	padding: {
		top: 120px;
		bottom: 240px;
		left: 120px;
		right: 20px;
	}
	font-family: inherit;
	line-height: 1.6;
	overflow: auto;
}

.editor-container {
	font-size: 18px;
	&.font-size-2 {
		font-size: 17px;
	}
	&.font-size-1 {
		font-size: 16px;
	}
}

.preview {
	padding: {
		top: 120px;
		bottom: 240px;
		left: 20px;
		right: 20px;
	}
	overflow: auto;
	&::-webkit-scrollbar {
		display: none;
	}
}

.menu {
	width: 320px;
	left: auto;
	padding: 40px;
	color: #fff;
	.entry {
		font-weight: bold;
	}
}

.margin {
	background-color: #FFE5E1;
}

.btn button {
	line-height: 0;
	&:hover, &:focus {
		background-color: transparent !important;
	}
	.md-ripple-container {
		background-color: transparent !important;
	}
}

.btn-clip button {
	color: #fff;
	padding: 2px;
	i {
		font-size: 26px;
	}
}

.btn-background button {
	i {
		font-size: 26px;
	}
}

.btn-menu button {
	line-height: 23px;
	font-size: 18px;
	padding: {
		left: 10px;
		right: 10px;
	};
	color: mix(#fff, $plastic-color, 80%);
	&:hover {
		color: #fff;
	}
}

.md-track-ticks {
	display: none;
}

.zoom-1 {
	font-size: 0.8em;
}

.zoom-2 {
	font-size: 0.9em;
}

.zoom-4 {
	font-size: 1.1em;
}

.zoom-5 {
	font-size: 1.2em;
}
