.settings.layout.panel {
    & > div {
        margin: auto;
        width: 100%;
        height: 100%;
        max-width: 640px;
    }
    .nav {
        height: auto;
        margin-top: 10px;
    }
    .title {
        color: rgba(0, 0, 0, 0.87);
        font-size: 30px;
    }
    .exit.btn {
        font-size: 30px;
        padding: 4px;
    }
    .tab {
        margin: 40px 20px 80px;
    }
    .small {
        max-width: 200px;
    }
    md-slider {
        max-width: 250px;
    }
    .btn-grp {
        border-top: 1px solid rgba(128, 128, 128, 0.2);
        .md-button {
            padding: 14px 10px;
            margin-left: 8px;
            margin-right: 0;
        }
    }
    .group {
        .label {
            font-size: 12.5px;
            padding: 2px;
            display: block;
            color: rgba(0, 0, 0, 0.54);
        }
    }
    md-tabs {
        & md-tabs-content-wrapper, &:not(.md-no-tab-content) {
            min-height: 0;
        }
    }
    .file.entry {
        line-height: 40px;
        md-input-container {
            padding-bottom: 8px;
            .md-input {
                line-height: 1;
                font-size: 18px;
                font-weight: 300;
                &[disabled] {
                    color: rgba(0, 0, 0, 0.87);
                }
            }
        }
        .md-button {
            color: rgba(0, 0, 0, 0.7);
            font-size: 28px;
            padding: 6px 3px;
        }
    }
    md-progress-circular {
        position: relative;
        top: 40px;
        left: 50%;
        margin-left: -25px;
    }
}

.blog.dialog {
    min-width: 340px;
    md-input-container {
        padding-bottom: 8px;
    }
    .tip {
        font-size: 12.5px;
        display: block;
        color: rgba(0, 0, 0, 0.54);
    }
}
