<div class="settings layout panel background">
    <div layout="column">
        <div layout="row" layout-align="space-between end">
            <div class="title" flex>Settings</div>
            <div layout="row">
                <md-button ng-click="cancel()">Cancel <span class="icon-close"></span></md-button>
                <md-button class="md-primary" ng-click="apply()">Apply <span class="icon-done"></md-button>
            </div>
        </div>
        <md-tabs md-selected="selectedTabIndex" md-border-bottom flex>
            <md-tab label="User">
                <div class="tab" ng-switch="socketSvc.hasToken">
                    <p class="group" ng-switch-default>
                        <span class="label">
                            Sign in to manage your user account
                        </span>
                    <md-button class="md-primary" ng-click="userSvc.startOAuth()">
                        Sign in with Google
                    </md-button>
                    </p>
                    <div ng-switch-when="true">
                        <h2>Basic</h2>
                        <form name="userForm">
                            <md-input-container class="small">
                                <label>User name</label>
                                <input required name="name" ng-model="user.name" md-maxlength="64">
                                <div ng-messages="userForm.name.$error">
                                    <div class="angular-animate" ng-message="required">This is required.</div>
                                    <div class="angular-animate" ng-message="md-maxlength">That's too long.</div>
                                </div>
                            </md-input-container>
                        </form>
                        <p class="group">
                            <span class="label">
                                Go premium or unsubscribe
                            </span>
                            <md-button class="md-primary" ng-href="#!/choosePlan">
                                Change plan
                            </md-button>
                        </p>
                        <p class="group">
                            <span class="label">
                                Change user or log out from public computer
                            </span>
                            <md-button class="md-primary" ng-click="signout()">
                                Sign out
                            </md-button>
                        </p>
                        <br>
                        <h2>Advanced</h2>
                        <md-input-container class="small">
                            <label>User ID</label>
                            <input ng-model="user.id" disabled="disabled">
                        </md-input-container>
                        <div layout="row">
                            <md-input-container class="large" flex>
                                <label>API key</label>
                                <input ng-model="apiKey" disabled="disabled">
                            </md-input-container>
                            <div class="renew-api-key-btn" layout="column" layout-align="center">
                                <md-button ng-if="!getApiKeyPending" class="icon-refresh" ng-click="renewApiKey()" aria-label="Renew API key">
                                </md-button>
                            </div>
                        </div>
                        <p class="group">
                            <span class="label">
                                Roles
                            </span>
                            <md-chips ng-model="user.roles" readonly="true"></md-chips>
                        </p>
                        <p class="group">
                            <span class="label">
                                Use another Google account for sign in
                            </span>
                            <md-button class="md-primary" ng-click="userSvc.startOAuth('/settings?tab=user')">
                                Link now
                            </md-button>
                        </p>
                        <p class="group">
                            <span class="label">
                                Delete your user account and all your data
                            </span>
                            <md-button class="md-warn" ng-click="deleteUser()">
                                Remove account
                            </md-button>
                        </p>
                    </div>
            </div>
            </md-tab>
            <md-tab label="App">
                <div class="tab">
                    <p class="group">
                        <span class="label">
                            Reset app settings
                        </span>
                        <md-button class="md-primary" ng-click="setDefault()">Set default</md-button>
                    </p>
                    <h2>Editor</h2> Font size factor
                    <md-slider md-discrete ng-model="app.editorFontSizeFactor" step="1" min="1" max="9" aria-label="Font size factor">
                    </md-slider>
                    Binder width factor
                    <md-slider md-discrete ng-model="app.editorBinderWidthFactor" step="1" min="1" max="14" aria-label="Binder width factor">
                    </md-slider>
                    <md-checkbox ng-model="app.editorHighlighting">
                        Markdown highlighting
                    </md-checkbox>
                    <md-checkbox ng-model="app.editorInlineImg">
                        Inline images
                    </md-checkbox>
                    <md-checkbox ng-model="app.editorMonospacedFont">
                        Use monospaced font only
                    </md-checkbox>
                    <md-checkbox ng-model="app.editorMdCheatSheetBtn">
                        Markdown Cheat Sheet icon
                    </md-checkbox>
                    <br>
                    <h2>Default file properties</h2>
                    <p>
                        <table>
                            <tr ng-repeat="(key, value) in app.defaultFileProperties">
                                <td><b>{{key}}</b></td>
                                <td>{{value}}</td>
                            </tr>
                        </table>
                    </p>
                    <md-button class="md-primary" ng-click="editFileProperties()">
                        Edit properties
                    </md-button>
                </div>
            </md-tab>
            <md-tab label="Blogs">
                <div class="tab" ng-switch="socketSvc.hasToken">
                    <p class="group" ng-switch-default>
                        <span class="label">
                            Sign in to manage your blogs
                        </span>
                        <md-button class="md-primary" ng-click="userSvc.startOAuth()">
                            Sign in with Google
                        </md-button>
                    </p>
                    <div ng-switch-when="true" ng-switch="!!getBlogsPending">
                        <md-progress-circular md-mode="indeterminate" ng-switch-when="true"></md-progress-circular>
                        <div ng-switch-when="false">
                            <cl-blog-entry ng-repeat="blog in blogs track by blog.id"></cl-blog-entry>
                            <div ng-if="!blogs.length">No blog yet.</div>
                            <br>
                            <md-button class="md-primary" ng-click="editBlog()">
                                New blog
                                <span class="icon-add"></span>
                            </md-button>
                        </div>
                    </div>
                </div>
            </md-tab>
            <md-tab label="Trash">
                <div class="tab" ng-switch="socketSvc.hasToken">
                    <p class="group" ng-switch-default>
                        <span class="label">
                            Sign in to manage the file trash
                        </span>
                        <md-button class="md-primary" ng-click="userSvc.startOAuth()">
                            Sign in with Google
                        </md-button>
                    </p>
                    <div ng-switch-when="true">
                        <div class="file entry" layout="row" ng-repeat="file in trashFiles track by file.id | orderBy:deleted:true" ng-show="!fileSvc.fileMap.hasOwnProperty(file.id)">
                            <md-input-container flex>
                                <input class="name" ng-model="file.name" disabled="disabled" aria-label="Deleted file">
                            </md-input-container>
                            <md-button ng-if="!syncDataSvc.fileRecoveryDates.hasOwnProperty(file.id)" md-no-ink class="icon-settings-backup-restore" ng-click="recoverFile(file)" aria-label="Recover"></md-button>
                            <md-button md-no-ink class="icon-delete" ng-click="removeFile(file)" aria-label="Remove"></md-button>
                        </div>
                        <div ng-if="!getTrashFilesPending && trashEmpty">Trash is empty.</div>
                        <md-progress-circular md-mode="indeterminate" ng-if="getTrashFilesPending"></md-progress-circular>
                        <br>
                        <md-button ng-if="!getTrashFilesPending && lastDeleted" class="md-primary" ng-click="getTrashFiles()">More deleted files</md-button>
                    </div>
                </div>
            </md-tab>
            </md-tabs>
            <div class="menu" layout="row">
                <md-button>
                    Privacy
                </md-button>
                <md-button>
                    Terms
                </md-button>
            </div>
        </div>
    </div>
