@import 'bourbon';

.body--file-dragging * {
  cursor: move !important;

  @include user-select(none); // Safari needs this
}

.file-dragging {
  left: 0;
  opacity: 0.5;
  pointer-events: none;
  top: 0;
}
