@import 'bourbon';

.body--file-dragging * {
  // scss-lint:disable ImportantRule
  cursor: move !important;

  @include user-select(none); // Safari needs this
}

.file-dragging {
  left: 0;
  opacity: .5;
  pointer-events: none;
  top: 0;
}
