<md-dialog class="sharing dialog">
    <md-content>
        <h1>Sharing</h1>
        <md-input-container>
            <label>Link</label>
            <input class="url" ng-model="sharingUrl">
        </md-input-container>
        <div layout="row" layout-align="end" class="sharing">
            <a href="" target="_blank" class="fa fa-twitter">
            </a>
            <a href="" target="_blank" class="fa fa-facebook">
            </a>
            <a href="" target="_blank" class="fa fa-google-plus">
            </a>
            <a href="" target="_blank" class="fa fa-linkedin">
            </a>
        </div>
        <md-radio-group ng-model="fileDao.sharing" ng-if="!fileDao.isReadOnly && !fileDao.userId">
            <md-radio-button value="">Private</md-radio-button>
            <div class="help">Only you can access the file.</div>
            <md-radio-button value="r">Public (read only)</md-radio-button>
            <div class="help">Anyone with the link can read the file.</div>
            <md-radio-button value="rw">Public (read/write)</md-radio-button>
            <div class="help">Signed-in premium users can modify the file.</div>
        </md-radio-group>
    </md-content>
    <div class="md-actions">
        <md-button ng-click="close()">
            Close
        </md-button>
    </div>
</md-dialog>
