<md-dialog class="sharing dialog">
    <md-content>
        <h1>Sharing</h1>
        <md-input-container>
            <label>Filename</label>
            <input ng-model="filename" disabled="disabled">
        </md-input-container>
        <md-input-container>
            <label>URL</label>
            <input ng-model="sharingUrl" disabled="disabled">
        </md-input-container>
        <div layout="row" layout-align="end" class="sharing">
            <a href="" target="_blank" class="fa fa-twitter">
            </a>
            <a href="" target="_blank" class="fa fa-facebook">
            </a>
            <a href="" target="_blank" class="fa fa-google-plus">
            </a>
            <a href="" target="_blank" class="fa fa-linkedin">
            </a>
        </div>
        <md-radio-group ng-model="sharing">
            <md-radio-button value="">Private</md-radio-button>
            <md-radio-button value="r">Public (read only)</md-radio-button>
            <md-radio-button value="rw">Public (read/write)</md-radio-button>
        </md-radio-group>
    </md-content>
    <div class="md-actions">
        <md-button ng-click="cancel()">
            Cancel
        </md-button>
        <md-button ng-click="ok()" class="md-primary">
            Ok
        </md-button>
    </div>
</md-dialog>
