.preview {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		.heading-anchor {
			position: absolute;
			text-align: center;
			width: 1.25em;
			margin-left: -1.25em;
			font-size: 1em;
			text-decoration: none;
			color: rgba(0,0,0,0.38);
			opacity: 0;
			-webkit-transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
			        transition: opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
			cursor: pointer;
      border-radius: 3px;
		}
		&:hover .heading-anchor {
			opacity: 1;
			&:hover {
        background-color: rgba(158,158,158,0.2);
			}
		}
	}
}
