.read-only-alert,
.write-premium-alert {
  font-size: 14px;
  left: 15px;
  padding-top: 5px;
  top: 15px;

  p {
    line-height: 1.3;
  }
}

.read-only-alert {
  height: 240px;
  width: 240px;
}

.write-premium-alert {
  height: 210px;
  width: 210px;
}
