.read-only-alert.panel, .write-premium-alert.panel {
	left: 15px;
	top: 15px;
	font-size: 14px;
    padding-top: 5px;
	p {
		line-height: 1.3;
	}

	.close.btn {
		top: 0;
		right: 0;
		a {
			font-size: 22px;
			line-height: 30px;
		}
	}
}

.read-only-alert.panel {
	width: 240px;
	height: 240px;
}

.write-premium-alert.panel {
	width: 210px;
	height: 210px;
}