<div class="write-premium-alert panel postit no-overflow md-whiteframe-z2" layout="column" layout-align="space-between">
    <div>
        <h2>Hold on!</h2>
        <p>You need a premium account to collaborate on this file.</p>
        <cl-button class="close btn" size="30">
            <a class="icon-clear" ng-click="dismiss()" aria-label="Close"></a>
        </cl-button>
    </div>
    <div layout="row" layout-align="end">
        <md-button md-no-ink class="md-primary" ng-click="userSvc.startOAuth()" ng-if="!socketSvc.hasToken && !config.loginForm">
            Sign in with Google
        </md-button>
        <md-button md-no-ink class="md-primary" ng-href="#!/signin" ng-if="!socketSvc.hasToken && config.loginForm">
            Sign in
        </md-button>
        <md-button ng-if="userSvc.user" ng-href="#!/choosePlan" md-no-ink class="md-primary">
            Go premium
        </md-button>
    </div>
</div>
