<div class="write-premium-alert postit panel md-whiteframe-z2" layout="column" layout-align="space-between">
  <div>
    <h2>Hold on!</h2>
    <p>You need to sign in to collaborate on this file.</p>
    <md-button class="postit__close-btn icon-clear" md-no-ink ng-click="dismiss()" aria-label="Close">
    </md-button>
  </div>
  <div layout="row" layout-align="end">
    <md-button md-no-ink class="md-primary" ng-click="userSvc.startOAuth()" ng-if="!config.loginForm">
      Sign in with Google
    </md-button>
    <md-button md-no-ink class="md-primary" ng-href="#!/signin" ng-if="config.loginForm">
      Sign in
    </md-button>
  </div>
</div>
