<div class="signin-alert panel postit no-overflow md-whiteframe-z2" layout="column" layout-align="space-between">
    <div>
        <h2>Disconnected</h2>
        <p>Sign in to turn on auto-sync and have your files backed up.</p>
        <cl-button class="close btn" opacity="0.2" opacity-hover="0.3" size="30">
            <a class="icon-clear" ng-click="editorLayoutSvc.currentControl = undefined" aria-label="Close"></a>
        </cl-button>
    </div>
    <div layout="row" layout-align="end">
        <md-button md-no-ink class="md-primary" ng-click="userSvc.startOAuth()">
            Sign in with Google
        </md-button>
    </div>
</div>
