<div class="signin-alert postit panel md-whiteframe-z2" layout="column" layout-align="space-between">
  <div>
    <h2>Disconnected</h2>
    <p>Sign in to turn on synchronization and have your files backed up.</p>
    <md-button class="postit__close-btn icon-clear" md-no-ink ng-click="editorLayoutSvc.currentControl = undefined" aria-label="Close">
    </md-button>
  </div>
  <div layout="row" layout-align="end">
    <md-button md-no-ink class="md-primary" ng-click="userSvc.startOAuth()" ng-if="!config.loginForm">
      Sign in with Google
    </md-button>
    <md-button md-no-ink class="md-primary" ng-href="#!/signin" ng-if="config.loginForm">
      Sign in
    </md-button>
  </div>
</div>
