<div class="stat-panel panel no-overflow">
  <div class="stat-panel__block">
    <span class="stat-panel__block-name">
      Text
      <small ng-show="isTextSelection">(selection)</small>
    </span>
    <span ng-repeat="stat in textStats">
      <span class="stat-panel__value">{{stat.value}}</span> {{stat.name}}
    </span>
  </div>
  <div class="stat-panel__block">
    <span class="stat-panel__block-name">
      HTML
      <small ng-show="isHtmlSelection">(selection)</small>
    </span>
    <span ng-repeat="stat in htmlStats">
      <span class="stat-panel__value">{{stat.value}}</span> {{stat.name}}
    </span>
  </div>
</div>
