.stat-panel {
  background-color: transparentize(#dadada, 0.05);
  bottom: 0;
  color: rgba(0, 0, 0, 0.75);
  font-size: 12.5px;
  height: 22px;
}

.stat-panel__block {
  display: inline-block;
  margin: 2px;
  position: relative;
}

.stat-panel__block-name {
  font-weight: 500;
  margin: 0 10px;
}

.stat-panel__value {
  font-weight: 500;
}
