.stat.panel {
    background-color: transparentize(#dadada, 0.05);
	text-shadow: 0 1px #f8f8f8;
    color: #404040;
    bottom: 0;
    height: 22px;
    font-size: 13px;
    div {
    	position: relative;
    	display: inline-block;
    	margin: 2px;
		.name {
			font-weight: bold;
			margin: 0 10px;
		}
		.value {
			font-weight: bold;
		}
    }
}

