<div class="stat panel no-overflow">
	<div class="text">
		<span class="name">
			Text
			<small ng-show="isTextSelection">(selection)</small>
		</span>
		<span ng-repeat="stat in textStats">
			<span class="value">{{stat.value}}</span> {{stat.name}}
		</span>
	</div>
	<div class="html">
		<span class="name">
			HTML
			<small ng-show="isHtmlSelection">(selection)</small>
		</span>
		<span ng-repeat="stat in htmlStats">
			<span class="value">{{stat.value}}</span> {{stat.name}}
		</span>
	</div>
</div>
