@import 'base';
@import 'mdHighlighting';
@import 'material';
@import 'print';
body {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $background-color;
    text-rendering: auto;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

*::-webkit-scrollbar {
    -webkit-appearance: none;
}

*::-webkit-scrollbar:vertical {
    width: 7px;
}

*::-webkit-scrollbar:horizontal {
    height: 7px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .25);
}

:focus {
    outline: none;
}

.panel {
    position: absolute;
    width: 100%;
    height: 100%;
}

.no-overflow {
    overflow: hidden;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.background {
    background-color: #fafafa;
}

.paper {
    background-color: #fff;
}

@for $i from 1 through length($plastic-colors) {
    $c: nth($plastic-colors, $i);
    .plastic-#{$i - 1} {
        background-color: lighten(desaturate($c, 12%), 20%) !important;
    }
}

.hole {
    box-shadow: inset 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 10px;
}

.postit {
    background-color: #FFF7B2;
    padding: 15px 20px;
    font-size: 14px;
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
}

.postit,
.dialog {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    ul,
    ol,
    dl {
        margin: 1em 0;
    }
}

.dialog .tip {
    font-size: 14px;
    display: block;
    color: rgba(0, 0, 0, 0.33);
    margin-left: 10px;
    margin-right: 10px;
    ul {
        margin: 0.5em 0;
    }
}

.warning {
    background-color: rgba(255, 90, 0, 0.15);
    padding: 12px;
    border-radius: 5px;
}

.nav {
    height: 120px;
    md-input-container {
        padding-bottom: 10px;
    }
}

.rotate-90 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate-180 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rotate-270 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}
