@import 'base';
@import 'markdownHighlighting';
@import 'material';
@import 'print';
@import 'bourbon';

body {
  background-color: $body-color;
  bottom: 0;
  font-weight: 300;
  left: 0;
  position: fixed;
  right: 0;
  tab-size: 4;
  text-rendering: auto;
  top: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

*::-webkit-scrollbar {
  -webkit-appearance: none;
}

*::-webkit-scrollbar:vertical {
  width: 7px;
}

*::-webkit-scrollbar:horizontal {
  height: 7px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .25);
  border-radius: 4px;
}

:focus {
  outline: none;
}

input:not([disabled]),
textarea:not([disabled]) {
  font-variant-ligatures: common-ligatures;
}

.panel {
  height: 100%;
  position: absolute;
  width: 100%;
}

.no-overflow {
  overflow: hidden;
}

.background {
  background-color: $background-color;
}

// scss-lint:disable ImportantRule
.plastic-0 {
  background-color: mix(desaturate($plastic-color-0, 12.5%), $background-color, 55%) !important;
}

.plastic-1 {
  background-color: mix(desaturate($plastic-color-1, 12.5%), $background-color, 55%) !important;
}

.plastic-2 {
  background-color: mix(desaturate($plastic-color-2, 12.5%), $background-color, 55%) !important;
}

.plastic-3 {
  background-color: mix(desaturate($plastic-color-3, 12.5%), $background-color, 55%) !important;
}

.plastic-4 {
  background-color: mix(desaturate($plastic-color-4, 12.5%), $background-color, 55%) !important;
}

.plastic-5 {
  background-color: mix(desaturate($plastic-color-5, 12.5%), $background-color, 55%) !important;
}
// scss-lint:enable ImportantRule

.postit {
  background-color: #fff7b2;
  font-size: 14px;
  overflow: hidden;
  padding: 15px 20px;
  z-index: 3;

  @include transform(rotate(-1deg));

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  ul,
  ol,
  dl {
    margin: 1em 0;
  }
}

.postit__close-btn {
  color: rgba(0, 0, 0, .38);
  font-size: 22px;
  height: 32px;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 32px;
}

.tip {
  color: rgba(0, 0, 0, .45);
  display: block;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;

  ul {
    margin: .5em 0;
  }
}

.warning {
  color: rgba(0, 0, 0, .67);
  padding: 10px 5px;
}

.prism--editor {
  border: 0;
  color: #000;
  padding: 0;
}

.navbar {
  background-color: #fff;
  color: rgba(0, 0, 0, .6);
  height: auto;
  z-index: 2;
}

.navbar__logo {
  background-image: url('assets/images/logo.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 180px 60px;
  height: 34px;
  width: 50px;
}

.navbar__item {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: 2px 1px;
  overflow: hidden;
  padding: 0 10px;
  position: relative;
  white-space: nowrap;
}

.navbar__item--title {
  color: rgba(0, 0, 0, .75);
  font-size: 30px;
  height: 34px;
  letter-spacing: -.03em;
  line-height: 34px;
  margin: 0;
  padding: 0 5px;
}

.navbar__item--icon {
  color: rgba(0, 0, 0, .54);
  font-size: 23px;
  padding: 0 4px;
}

.drop-zone {
  border: 3px dashed #bbb;
  border-radius: 8px;
  color: #bbb;
  padding: 32px;
  position: relative;
  text-align: center;
}

.drop-zone__input {
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.drop-zone__icon {
  font-size: 44px;
}

.rotate-90 {
  @include transform(rotate(90deg));
}

.rotate-180 {
  @include transform(rotate(180deg));
}

.rotate-270 {
  @include transform(rotate(270deg));
}
