@import 'base';
@import 'mdHighlighting';
@import 'material';
@import 'print';
@import 'bourbon';

body {
  background-color: $body-color;
  bottom: 0;
  font-weight: 300;
  left: 0;
  position: fixed;
  right: 0;
  tab-size: 4;
  text-rendering: auto;
  top: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

*::-webkit-scrollbar {
  -webkit-appearance: none;
}

*::-webkit-scrollbar:vertical {
  width: 7px;
}

*::-webkit-scrollbar:horizontal {
  height: 7px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .25);
  border-radius: 4px;
}

:focus {
  outline: none;
}

input:not([disabled]),
textarea:not([disabled]) {
  @include font-feature-settings('liga');
}

.panel,
.app__panel {
  height: 100%;
  position: absolute;
  width: 100%;
}

.no-overflow,
.cl-no-overflow {
  overflow: hidden;
}

.no-select {
  @include user-select(none);
}

.background,
.app__background {
  background-color: $background-color;
}

.paper {
  background-color: #fff;
}

// scss-lint:disable ImportantRule
.plastic-0 {
  background-color: mix(desaturate($plastic-color-0, 12.5%), $background-color, 55%) !important;
}

.plastic-1 {
  background-color: mix(desaturate($plastic-color-1, 12.5%), $background-color, 55%) !important;
}

.plastic-2 {
  background-color: mix(desaturate($plastic-color-2, 12.5%), $background-color, 55%) !important;
}

.plastic-3 {
  background-color: mix(desaturate($plastic-color-3, 12.5%), $background-color, 55%) !important;
}

.plastic-4 {
  background-color: mix(desaturate($plastic-color-4, 12.5%), $background-color, 55%) !important;
}

.plastic-5 {
  background-color: mix(desaturate($plastic-color-5, 12.5%), $background-color, 55%) !important;
}
// scss-lint:enable ImportantRule

.hole {
  border-radius: 10px;
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, .26);
}

.postit {
  @include transform(rotate(-1deg));

  background-color: #fff7b2;
  font-size: 14px;
  padding: 15px 20px;
  z-index: 3;

  .close.btn {
    color: rgba(0, 0, 0, .38);
    font-size: 22px;
    line-height: 30px;
    padding: 5px 8px;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.postit,
.dialog {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  ul,
  ol,
  dl {
    margin: 1em 0;
  }
}

.dialog .tip {
  color: rgba(0, 0, 0, .45);
  display: block;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;

  ul {
    margin: .5em 0;
  }
}

.warning {
  color: rgba(0, 0, 0, .67);
  padding: 10px 5px;
}

.light-header,
.app__light-header {
  color: rgba(0, 0, 0, .6);

  [class^='icon-'],
  [class*=' icon-'] {
    color: rgba(0, 0, 0, .54);
  }
}

.nav,
.cl-nav {
  height: 120px;

  md-input-container {
    padding-bottom: 10px;

    .md-errors-spacer {
      display: none;
    }
  }

  .md-input {
    font-size: 32px;
    font-weight: 300;
  }

  .md-button {
    text-shadow: 1px 1px rgba(0, 0, 0, .06);

    [class^='icon-'],
    [class*=' icon-'] {
      font-size: inherit;
    }
  }
}

.cl-rotate-90 {
  @include transform(rotate(90deg));
}

.cl-rotate-180 {
  @include transform(rotate(180deg));
}

.cl-rotate-270 {
  @include transform(rotate(270deg));
}
