<div class="toc panel">
	<cl-toc></cl-toc>
</div>

<cl-button class="close-toc btn" opacity="0.2" opacity-hover="0.3" size="32" right="0">
	<div class="mdi-content-clear" ng-click="layout.toggleToc(false)" aria-label="Close TOC"></div>
</cl-button>

<div class="background panel md-whiteframe-z4 no-overflow">

	<div class="preview panel" ng-click="layout.currentControl = undefined">
		<cl-preview></cl-preview>
	</div>

	<div class="binder panel">

		<div class="edit btn btn-panel plastic md-whiteframe-z4">
			<md-button ng-click="layout.toggleEditor(true)">
				Edit
			</md-button>
		</div>

		<div class="editor panel plastic md-whiteframe-z2">

			<div class="menu content panel">
				<div class="entry">Zoom</div>
				<md-slider md-discrete ng-model="settings.values.zoom" step="1" min="1" max="5"
						   aria-label="Zoom">
				</md-slider>
				<cl-btn-bar-settings></cl-btn-bar-settings>
				<cl-scroll-sync-settings></cl-scroll-sync-settings>
				<cl-markdown-extra-settings></cl-markdown-extra-settings>
				<cl-math-jax-settings></cl-math-jax-settings>
			</div>


			<div class="btn-grp panel">
				<cl-button class="close btn" opacity="0.4" opacity-hover="0.5" size="34">
					<div class="mdi-content-clear" ng-click="layout.toggleEditor(false)" aria-label="Close editor"></div>
				</cl-button>
				<cl-button class="minimize btn" opacity="0.4" opacity-hover="0.5" size="34">
					<div class="mdi-content-remove" ng-click="layout.toggleEditor(false)" aria-label="Hide editor"></div>
				</cl-button>
				<cl-button class="preview btn" opacity="0.4" opacity-hover="0.5" size="34">
					<div class="mdi-image-filter-none" ng-click="layout.toggleSidePreview()" aria-label="Side preview"></div>
				</cl-button>
				<div class="menu btn btn-panel plastic">
					<md-button ng-click="layout.toggleMenu()">
						<div class="rotate-90">
							Menu
						</div>
					</md-button>
				</div>
			</div>

			<div class="page panel paper md-whiteframe-z1">
				<div class="hole panel first" ng-class="layout.isMenuOpen ? 'background' : 'plastic'"></div>
				<div class="hole panel second" ng-class="layout.isMenuOpen ? 'background' : 'plastic'"></div>
				<div class="margin panel">
				</div>
				<cl-editor></cl-editor>
			</div>

		</div>

		<cl-btn-bar ng-if="settings.values.btnBar"></cl-btn-bar>

	</div>

	<div ng-mouseenter="layout.toggleCorner(true)"
		 ng-mouseleave="layout.toggleCorner(false)">

		<div class="corner panel md-whiteframe-z4 no-overflow">
			<div class="shadow panel"></div>
		</div>

		<div ng-if="layout.isCornerButtonVisible">
			<cl-button class="corner btn" opacity="0.3" opacity-hover="0.4" size="36" right="0" bottom="30">
				<i class="mdi-communication-call-made" ng-click="layout.toggleToc()"></i>
			</cl-button>
			<cl-button class="corner btn" opacity="0.3" opacity-hover="0.4" size="36" right="35" bottom="-5">
				<i class="mdi-communication-call-received" ng-click="layout.toggleStat()"></i>
			</cl-button>
		</div>
	</div>

</div>

<cl-stat ng-if="layout.isStatOpen"></cl-stat>

<cl-discussion ng-if="layout.currentControl === 'discussion'"></cl-discussion>

<cl-image-dialog></cl-image-dialog>
